<div class="authors-nav__all-letters">
  <div class="authors-nav__letter-list">

    <%# Display all letters in the navigation list %>
    <% all_letters = ('A'..'Z').to_a %>
    <% all_letters.each do |letter| %>
          <span class="authors-nav__letter <%= 'authors-nav__letter--selected' if letter == @letter %>">

            <%# Only show links for letters that have content. Otherwise show normal text. %>
            <% if @navigation_list.letters.include?(letter) %>
              <a href="/public/volumes?letter=<%= letter %>"><%= letter %></a>
            <% else %>
              <%= letter %>
            <% end %>

          </span>
    <% end %>
  </div>
  <div class="authors-nav__letter-list">

    <%# Display all letters in the navigation list %>
    <% all_letters = ('Α'..'Ω').to_a %>
    <% all_letters.each do |letter| %>
          <span class="authors-nav__letter <%= 'authors-nav__letter--selected' if letter == @letter %>">

            <%# Only show links for letters that have content. Otherwise show normal text. %>
            <% if @navigation_list.letters.include?(letter) %>
              <a href="/public/volumes?letter=<%= letter %>"><%= letter %></a>
            <% else %>
              <%= letter %>
            <% end %>

          </span>
    <% end %>
  </div>
</div>