<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @comment.value %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<%= link_to 'Edit', edit_admin_comment_path(@comment) %> |
<%= link_to 'Back', admin_comments_path %>
