<div class="row">
  <div class="pagination-stuff col-md-12">
    <%= paginate @comments %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <% @comments.each do |comment| %>
          <li class="list-group-item change">
            <%= comment.value %>
            <br>
            <%= comment.user.email %><br>
            <strong><%= comment.text.census_id %></strong> <%= link_to comment.text.title %>
          </li>
      <% end %>
    </ul>
    <%= paginate @comments %>
  </div>
</div>

