<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @person.full_name %>
</p>

<p>
  <strong>Greek full name:</strong>
  <%= @person.greek_full_name %>
</p>

<p>
  <strong>Fist name:</strong>
  <%= @person.fist_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @person.birth %>
</p>

<p>
  <strong>Death:</strong>
  <%= @person.death %>
</p>

<p>
  <strong>Greek first name:</strong>
  <%= @person.greek_first_name %>
</p>

<p>
  <strong>Greek last name:</strong>
  <%= @person.greek_last_name %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
