<% if @aggregations.present? %>
  <div class="row">
    <div class="col-md-5">
      <button type="button" class="filter-toggle collapsed" data-toggle="collapse" data-target="#facets-container" aria-expanded="false">
        Show/hide filters
      </button>
    </div>
  </div>
<% end %>

<div class="facets-container collapse" id="facets-container">
  <% if @aggregations.present? %>
    <h3>Limit your search</h3>

    <% if @aggregations.available_online.buckets.present? %>
      <% @aggregations.available_online.buckets.each_with_index do |facet, index| %>
        <% if facet["key"].present? %>
          <%= render 'facet_container', facet_name: "available_online" %>
        <% end %>
      <% end %>
    <% end %>

    <% if @aggregations.section.buckets.present? %>
      <%= render 'facet_container', facet_name: "section" %>
    <% end %>

    <% if @aggregations.genre.buckets.present? %>
      <%= render 'facet_container', facet_name: "genre" %>
    <% end %>

    <% if @aggregations.material_type.buckets.present? %>
      <%= render 'facet_container', facet_name: "material_type" %>
    <% end %>

    <% if @aggregations.text_type.buckets.present? %>
      <%= render 'facet_container', facet_name: "text_type" %>
    <% end %>

    <% if @aggregations.topic_author.buckets.present? %>
      <%= render 'facet_container', facet_name: "topic_author" %>
    <% end %>

    <% if @aggregations.topic_author.buckets.present? %>
      <%= render 'facet_container', facet_name: "translators" %>
    <% end %>


    <% if @aggregations.publication_places.buckets.present? %>
      <%= render 'facet_container', facet_name: "publication_places" %>
    <% end %>

    <% if @aggregations.other_text_languages.buckets.present? %>
      <%= render 'facet_container', facet_name: "other_text_languages" %>
    <% end %>

    <% if @aggregations.publication_dates.buckets.present? %>
      <%= render 'facet_container_dates', facet_name: "publication_dates" %>
    <% end %>

  <% end %>
</div> <!-- facets container -->