<div class="adv-search-filter col-md-3 col-sm-6"  id="panel-<%= field_name %>">
  <input type="checkbox"
         name="<%= field_name %>"
         id="<%= field_name %>"
         value=""
         data-field="true"
         <% if checked %>checked<% end %>>
  <label for="<%= field_name %>"><%= field_label %></label>
</div>