<%= form_tag(search_index_path, method: :get, id: "search_form") do %>
  <%= hidden_field_tag :type, @search_type %>

  <div class="row">
    <div class="col-lg-8 col-md-9 col-sm-12">
      <%= label_tag(:keyword, "Keyword", class: 'sr-only') %>
      <div class="input-group">
        <%= text_field_tag :keyword, params[:keyword], :class => 'form-control input-lg', autocomplete: "off" %>
        <% if params[:sort] %>
          <%= hidden_field_tag 'sort', params[:sort] %>
        <% end %>
        <span class="input-group-btn">
          <%= submit_tag 'Search', name: nil, :class => 'btn btn-success btn-lg' %>
        </span>
      </div>
      <div class="search-chooser">
        <div class="search-chooser"><%= link_to 'Advanced search', search_index_path(:type => "adv") %></div>
        <div class="search-history"><%= link_to 'Search history', recent_searches_path %></div>
      </div>
    </div>

    <div class="keyword-search-submit col-lg-12 col-md-12 col-sm-12">
      <div class="constraints-container">
        <%= render 'search/facet_constraints' %>
      </div>
    </div> <!-- facets constraints container -->
  </div>

<% end %>