<div class="results-list">
  <div class="row">
    <div class="col-md-12">
      <div class="results-count-line">
        <h3><%= @texts.total %> results</h3>
        <p><%= link_to 'Show map', search_map_path(
          :type => params[:type],
          :bq => params[:bq],
          :keyword => params[:keyword],
          :available_online => params[:available_online],
          :genre => params[:genre],
          :material_type => params[:material_type],
          :text_type => params[:text_type],
          :topic_author => params[:topic_author],
          :translators => params[:translators],
          :publication_places => params[:publication_places],
          :other_text_languages => params[:other_text_languages],
          :publication_date_range => params[:publication_date_range]
        ) %>
        </p>
      </div>
    </div>
  </div>

  <% if @texts.size > 0 %>
    <div class="row">
      <div class="col-md-7">
        <%= paginate @texts %>
      </div>
      <div class="col-md-5 sort_box">
        <label for="select_sort_order">Sort <span class="sr-only">all results</span> by</label>
        <%= select_tag 'select_sort_order', options_for_select(@sort_options, params[:sort]) %>
      </div>
    </div>
  <% end %>

  <ul class="list-group">
    <% @texts.each do |text| %>
      <li class="list-group-item">
        <%= render 'shared/text_tombstone', text: text, show_topic_author: true, from_search: true %>
      </li>
    <% end %>
  </ul>

  <%= paginate @texts %>
</div>