<% page_title "#{@text.census_id} #{@text.title.gsub('_', '')} - #{@text.authors_names}" %>
<div class="row prev-next-row-top">
  <div class="col-sm-6">
    <% if @text.previous %>
      <% if @text.census_id.empty? %>
        <%= link_to "<< #{@text.previous.id}", admin_text_path(@text.previous) %>
      <% else %>
        <%= link_to "<< #{@text.previous.census_id}", admin_text_path(@text.previous) %>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-6 next-record-col">
    <% if @text.next %>
      <% if @text.census_id.empty? %>
        <%= link_to "#{@text.next.id} >>", admin_text_path(@text.next) %>
      <% else %>
        <%= link_to "#{@text.next.census_id} >>", admin_text_path(@text.next) %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="edit-form col-sm-6">
    <%= render 'form', text: @text %>
  </div>

  <div class="col-sm-6">
    <div class="original">
      <span id="collapse-original-button" data-toggle="collapse" data-target="#original">
        <span class="glyphicon glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
      </span>
      <div id="original" class="collapse in original-box">
        <div class="topic-author">
          <% if @text.topic_author %>
            <%= @text.topic_author.full_name %>
          <% end %>
        </div>
        <% if @text.census_id %>
          <div class="census-id"><%= @text.census_id %></div>
        <% else %>
        <% end %>
        <textarea>
          <%= formatted_text(@text.original) %>
        </textarea>
      </div>
    </div>
    <div class="comments-section">
      <h3>Comments</h3>
      <%= form_for([:admin, @comment], :html => {:id => "new-comment-form", :multipart => true, :remote => true}) do |f| %>
        <%= f.text_area :value, autofocus: true, class: 'title-field' %>
        <%= hidden_field_tag 'comment[user_id]', @user.id %>
        <%= hidden_field_tag 'comment[text_id]', @text.id %>
        <input type="hidden"
               value="<%= form_authenticity_token() %>"
               name="authenticity_token" id="comment_auth_token"/>
        <%= f.submit 'Submit comment', class: 'btn home-add without-entry' %>
      <% end %>
      <ul class="list-group text-comments">
        <% @text.comments.reverse.each do |comment| %>
          <li class="list-group-item comment">
            <div class="the-text"><%= comment.value %></div>
            <div class="comment-metadata">
              <span class="the-user"><%= comment.user.email %></span>
              <span class="the-date"><%= comment.created_at %></span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <%= render partial: 'shared/changes', locals: {versions: @text.versions} %>
  </div>
</div>
<div class="row prev-next-row-bottom">
  <div class="col-sm-6">
    <% if @text.previous %>
      <%= link_to "<< #{@text.previous.census_id}", admin_text_path(@text.previous) %>
    <% end %>
  </div>
  <div class="col-sm-6 next-record-col">
    <% if @text.next %>
      <%= link_to "#{@text.next.census_id} >>", admin_text_path(@text.next) %>
    <% end %>
  </div>
</div>