<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @text.title %>
</p>

<p>
  <strong>Source</strong>
  <%= @text.source %>
</p>

<p>
  <strong>Date:</strong>
  <%= @text.date %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @text.publisher %>
</p>

<p>
  <strong>Place of publication:</strong>
  <%= @text.place_of_publication %>
</p>

<p>
  <strong>Language:</strong>
  <%= @text.language %>
</p>

<p>
  <strong>Note:</strong>
  <%= @text.note %>
</p>

<p>
  <strong>Original:</strong>
  <%= @text.original %>
</p>

<p>
  <strong>Census:</strong>
  <%= @text.census_id %>
</p>

<%= link_to 'Edit', edit_admin_text_path(@text) %> |
<%= link_to 'Back', admin_texts_path %>
