<div class="row">
  <div class="col-md-12">
    <%= simple_form_for [:admin, @place] do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :subdivision %>
        <%= f.association :country %>
        <%= f.input :latitude %>
        <%= f.input :longitude %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>

</div>
