<div class="row">
  <div class="pagination-stuff col-md-10">
    <%= paginate @places %>
  </div>
  <div class="new-thing col-md-2">
    <%= link_to  '<button class="btn btn-defaul btn-success">+ Add a new place</button>'.html_safe, new_admin_place_path %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <% @places.each do |place| %>
          <li class="list-group-item">
            <%= link_to place.name, edit_admin_place_path(place) %>
            <%= link_to admin_place_path(place), method: :delete, data: {confirm: 'Are you sure?'} do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          </li>
      <% end %>
    </ul>
    <%= paginate @places %>
  </div>
</div>

