<%# Left-hand navigation menu for authors page. %>
<div class="authors-nav">

  <%# List each author and link. %>
  <% @nav_authors.each do |nav_author| %>
    <% if !nav_author.full_name.include?('(see') %>
      <div class="authors-nav__author foo <%= 'authors-nav__author--selected' if nav_author.id == @author.id %>">
        <a href="<%= author_path nav_author %>">
          <div class="authors-nav__full_name"><%= nav_author.full_name %></div>
          <div class="authors-nav__greek_full_name"><%= nav_author.greek_full_name %></div>
          <div class="authors-nav__dates"><%= display_dates nav_author %></div>
        </a>
      </div>
    <% else %>
      <div class="authors-nav__author foo <%= 'authors-nav__author--selected' if nav_author.id == @author.id %>">
        <div class="authors-nav__full_name authors-nav__see-reference"><%= nav_author.full_name %></div>
      </div>
    <% end %>
  <% end %>

</div>