<li class="list-group-item">
  <div class="result-title">
    <span class="census-id"><%= text.census_id %></span> <%= link_to (text.title.blank? ? "[No title]" : @results_formatter.format(text.title)), text_path(text) %>
    <span class="title-date">(<%= text.date %>)</span>
  </div>
  <div class="result-author">
    <% if text.topic_author %>
      Topic author: <span class="topic-author-english"><%= text.topic_author.full_name %></span>
      <span class="topic-author-greek"><%= text.topic_author.greek_full_name %></span>
    <% end %>
  </div>
  <div class="result-author">
    <%= text.authors_names %>
  </div>
  <% if text.volume %>
    <div>
      In <cite><%= link_to_volume_from_search text.volume %></cite>  <%= formatted_full_journal_issue_citation(text) %>
    </div>
  <% end %>
  <% if text.journal %>
    <div>
      In
      <cite><%= link_to_journal_from_search text.journal %></cite> <%= formatted_full_journal_issue_citation(text) %>
    </div>
  <% end %>
</li>