<% page_title('Browse authors') %>
<h3 class="browse-authors__header">Browse all authors</h3>
<div class="row">
  <div class="browse-authors__description browse-page__description col-md-10">
    All the Greek creative authors identified. Each name is given in its Greek form and also in English according to the transliteration established.
  </div>
</div>

<%# Letters at top of page for navigating %>
<div class="col-md-8">
  <%= render 'authors/authors_letter_list' %>
</div>

<div class="row">
  <div id="pagination_table" class="col-md-12">
    <ul class="list-group">
      <% @authors.each do |author| %>
        <li class="list-group-item">
          <% if author.see_person %>

            <% if @is_greek_letter %>
            <% else %>
              <span class="topic-author-english"><%= author.full_name %></span>
              see <span class="topic-author-see-person">
              <a href="<%= author_path(author.see_person) %>">
                <%= author.see_person.full_name %>
              </a> <%= display_dates author.see_person %>
            </span>
            <% end %>

          <% else %>
            <%= render partial: 'authors/author_tombstone', locals: {author: author} %>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>
</div>