<% page_title('Browse people') %>
<h3 class="browse-people__header">Browse all people</h3>
<div class="row">
  <div class="browse-people__description col-md-10">
    All names indexed with active roles in the publications.
  </div>
</div>
<div class="row">
<%# Letters at top of page for navigating %>
  <div class="col-md-8">
    <%= render 'controlled_name/controlled_name_letter_list' %>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="browse-people__pagination--top pagination-stuff col-md-10">
        <%= paginate @names %>
      </div>
    </div>
    <ul class="list-group">
      <% @names.each do |name| %>
        <% text_count =  person_text_count(name).to_i %>
        <li class="list-group-item browse-people__entry">
          <div class="browse-people__linked-header">
            <% if text_count > 0 %>
            <span class="browse-people__full_name"><%= link_to name.controlled_name, "/people/#{name.linking_name}" %></span>
              <span class="browse-people__texts-count">(<%= pluralize(text_count, 'text') %>)</span>
          <% else %>
              <span class="browse-people__full_name"><%= name.controlled_name %></span>
          <% end %>
          </div>
          <% if name.topic_flag %>
            <div class="browse-people__link-to-topic-author">
              <a href="/authors/<%= name.person_link %>">See <% if text_count > 0 %>also<% end %> author record</a>
            </div>
          <% end %>
          <div class="browse-people__roles">
            <%= name.roles.sort!.join(', ') %>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="row">
      <div class="browse-people__pagination--bottom pagination-stuff col-md-10">
        <%= paginate @names %>
      </div>
    </div>
  </div>
</div>