<% page_title(@name.controlled_name) %>
<div class="container public-show-name" id="search-results">
  <div class="row">
    <h2><%= @name.controlled_name %></h2>

    <% if @name.roles.include? 'author' %>
      <%= render 'appears_as', role: 'author', name: @name %>
    <% end %>

    <% if @name.roles.include? 'intro/front matter author' %>
      <%= render 'appears_as', role: 'intro/front matter author', name: @name %>
    <% end %>

    <% if @name.roles.include? 'back matter author' %>
      <%= render 'appears_as', role: 'back matter author', name: @name %>
    <% end %>

    <% if @name.roles.include? 'translator' %>
      <%= render 'appears_as', role: 'translator', name: @name %>
    <% end %>

    <% if @name.roles.include? 'illustrator' %>
      <%= render 'appears_as', role: 'illustrator', name: @name %>
    <% end %>

    <% if @name.roles.include? 'editor' %>
      <%= render 'appears_as', role: 'editor', name: @name %>
    <% end %>

    <% if @name.roles.include? 'performer' %>
      <%= render 'appears_as', role: 'performer', name: @name %>
    <% end %>
  </div>
</div>