<h3>Changes</h3>
<ul class="list-group">
  <% versions.reverse.each do |version| %>
      <li class="list-group-item change"><span class="date"><%= version.created_at %> — <%= version.whodunnit %></span><br>
        <% changes(version).each do |change| %>
            <span class="field"><%= change[:field] %></span>
            <span class="from"><%= change[:from] %></span> >
            <span class="to"><%= change[:to] %></span><br>
            <span class="whodunnit"><%= change[:whodunnit]%></span>
        <% end %>
      </li>
  <% end %>
</ul>