<% if text['_source']
     source = text['_source']
   else
     source = text
   end
%>
<% if (defined? show_topic_author) && show_topic_author == true %>
  <div class="topic-author">
    <%= render 'shared/topic_author', text: text %>
  </div>
<% end %>
<div class="result-title">
  <span class="title-census-id"><%= text.census_id %></span>
  <%= link_to (text.title.blank? ? "[No title]" : @results_formatter.format(text.title)), public_text_path(text.id, hl: params[:keyword]) %>
  <span class="title-date">(<%= text.date %>)</span>
</div>
<div class="result-author">
  <%= source.authors_names %>
</div>
<% if source.volume %>
  <div>
    In <cite><%= link_to_volume_from_search source.volume %></cite><%= formatted_journal_issue(text) %>
  </div>
<% end %>
<% if source.journal %>
  <div>
    In
    <cite><%= link_to_journal_from_search source.journal %></cite> <%= formatted_journal_issue(text) %>
  </div>
<% end %>
