<% if text['_source']
     source = text['_source']
   else
     source = text
   end

   is_search = is_search_result?(text)
%>
<% if (defined? show_topic_author) && show_topic_author == true && defined?(text.topic_author) %>
  <div class="topic-author">
    <%= render 'shared/topic_author', text: text %>
  </div>
<% end %>
<div class="result-title">
  <span class="title-census-id">
    <%= title_census_id text %>
  </span>
  <%= tombstone_title_link(text, @results_formatter, params[:keyword]) %>
  <% if text.date && text.date != '' %>
    <span class="title-date">(<%= text.date %>)</span>
  <% end %>
  <% if text.is_special_issue %>
    <span class="special-issue">Special issue</span>
  <% end %>
  <% if source.url && text.url != '' %>
    <a class="available-online-notice" href="<%= source.url %>"><span class="badge badge-primary">available online</span></a>
  <% end %>
</div>
<div class="result-author">
  <% if source.translators_names %>
    <%= source.translators_names %>
  <% else %>
    <%= additional_responsibilities_from_search(source.text_citations) %>
  <% end %>
</div>
<% if source.volume %>
  <div>
    In <cite><%= link_to_volume_from_search source.volume %></cite><%= formatted_journal_issue(text) %>
  </div>
<% end %>
<% if source.journal %>
  <div>
    In
    <cite><%= link_to_journal_from_search source.journal %></cite> <%= formatted_journal_issue(text) %>
  </div>
<% end %>
<div>
  <% if text.text_type.include? 'study' %>
    Study
  <% elsif text.genre %>
    <span class="genre"><%= text.genre %></span>
  <% else %>
    Study
  <% end %>
</div>