<div class="row">
  <div class="pagination-stuff col-md-10">
    <%= paginate @volumes %>
  </div>
  <div class="new-thing col-md-2">
    <%= link_to  '<button class="btn btn-defaul btn-success">+ Add a new volume</button>'.html_safe, new_admin_volume_path %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <% @volumes.each do |volume| %>
          <li class="list-group-item">
            <%= link_to volume.title, edit_admin_volume_path(volume) %>
            <%= link_to admin_volume_url(volume), method: :delete, data: {confirm: 'Are you sure?'} do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          </li>
      <% end %>
    </ul>
    <%= paginate @volumes %>
  </div>
</div>

