<div class="metadata volume-metadata">
  <dl class="volume-metadata__list">
    <% if @volume.author.present? %>
      <dt class="field-label">Author:</dt>
      <dd><%= @volume.author %></dd>
    <% end %>

    <% if @editors.present? %>
      <dt>Editor:</dt>
      <% @editors.each do |citation| %>
        <% if citation.first_name.present? || citation.last_name.present? %>
          <dd>
              <a href="/people/<%= citation.controlled_name %>">
              <% if citation.last_name.present? %>
                <%= citation.last_name %><% if citation.first_name.present? %>,<% end %>
              <% end %>
              <% if citation.first_name.present? %><%= citation.first_name %>
              <% end %>
            </a>
          </dd>
        <% end %>
      <% end %>
    <% end %>

    <% if @translators.present? %>
      <dt>Translator:</dt>
      <% @translators.each do |citation| %>
        <% if citation.first_name.present? || citation.last_name.present? %>
          <dd>
            <a href="/people/<%= citation.controlled_name %>">
              <% if citation.last_name.present? %>
                <%= citation.last_name %><% if citation.first_name.present? %>,<% end %>
              <% end %>
              <% if citation.first_name.present? %><%= citation.first_name %>
              <% end %>
            </a>
          </dd>
        <% end %>
      <% end %>
    <% end %>


    <% if @referenced_texts[0].series.present? %>
      <dt class="field-label">Series:</dt>
      <dd><%= @referenced_texts[0].series %></dd>
    <% end %>

    <% unless @referenced_texts[0].places.empty? %>
      <dt class="field-label">Place of publication:</dt>
      <% @referenced_texts[0].places.each do |place| %>
        <dd><%= place.name %></dd>
      <% end %>
    <% end %>

    <% if @referenced_texts[0].publisher.present? %>
      <dt class="field-label">Publisher:</dt>
      <dd><%= @referenced_texts[0].publisher %></dd>
    <% end %>

    <% if @volume.date.present? %>
      <dt class="field-label">Year of publication:</dt>
      <dd><%= @volume.date %></dd>
    <% elsif @referenced_texts[0].date %>
      <dt class="field-label">Year of publication:</dt>
      <dd><%= @referenced_texts[0].date %></dd>
    <% end %>

    <% unless @referenced_texts[0].isbns.empty? %>
      <dt class="field-label">ISBN:</dt>
      <% isbn_string = @referenced_texts[0].isbns.map { |isbn| isbn.value } %>
      <dd><%= isbn_string.join('; ') %></dd>
    <% end %>

    <% unless @referenced_texts[0].cross_references.empty? %>
      <dt class="field-label">Census entry:</dt>
      <% @referenced_texts[0].cross_references.each do |reference| %>
        <dd><%= crossreference_link(reference.census_id) %></dd>
      <% end %>
    <% end %>

    <% if @other_contributors.present? %>
      <dt>Contributors</dt>
      <% @other_contributors.each do |citation| %>
        <% if citation.first_name.present? || citation.last_name.present? %>
          <dd>
            <a href="/people/<%= citation.controlled_name %>">
              <% if citation.last_name.present? %>
                <%= citation.last_name %><% if citation.first_name.present? %>,<% end %>
              <% end %>
              <% if citation.first_name.present? %><%= citation.first_name %>
              <% end %>
            </a>
          </dd>
        <% end %>

        <% if citation.from_language_id_id.present? %>
          <dt class="field-label">From language</dt>
          <dd><%= get_lang_from_id(citation.from_language_id_id.to_i).name %></dd>
        <% end %>

        <% if citation.to_language_id_id.present? %>
          <dt class="field-label">To language</dt>
          <dd><%= get_lang_from_id(citation.to_language_id_id.to_i).name %></dd>
        <% end %>

      <% end %>

    <% end %>

    <% if @referenced_texts.present? %>
      <dt class="field-label">CENSUS entries</dt>
      <dd>
        <ul class="list-group">
          <% @referenced_texts.each do |text| %>
            <li class="list-group-item referenced-record">
              <% if text.sort_page_span %>
                <span class="volume__item-page-span">
                <%= formatted_page_span(text) %>
              <% end %>
              </span>
              <%= tombstone_title_link(text, @results_formatter, params[:keyword]) %>
              <% if text.text_type.include? 'study' %>
                <div class="topic-author">
                  Topic: <%= render 'shared/topic_author', text: text %>
                </div>
              <% end %>
              <div class="volume-metadata__genre"><%= text.genre %></div>
            </li>
          <% end %>
        </ul>
      </dd>
    <% end %>
  </dl>
</div>