<div class="col-md-6">
  <h2>Recent comments</h2>
  <ul class="list-group text-comments">
    <% @comments.each do |comment| %>
        <li class="comment list-group-item">
          <div class="the-title"><%= link_to comment.text.title, edit_text_path(comment.text.id) %></div>
          <div class="the-text"><%= comment.value %></div>
          <div class="comment-metadata">
            <span class="the-user"><%= comment.user.email %></span>
            <span class="the-date"><%= comment.created_at %></span>
          </div>
        </li>
    <% end %>
  </ul>
</div>
<div class="col-md-6">
  <h2>Recently edited texts</h2>
  <ul class="list-group">
    <% @changed_texts.each do |text| %>
        <li class="change list-group-item">
          <%= link_to text.title, edit_text_path(text) %>
          <div class="change-medatada">
            <% if text.versions.last %>
                <span class="date"><%= text.versions.last.created_at.to_formatted_s(:short) %></span>
                <span class="who"><%= text.versions.last.whodunnit %></span>
            <% end %>
          </div>
        </li>
    <% end %>
  </ul>
</div>