<div class="col-md-6">
  <h2>Recent comments</h2>
  <ul class="list-group text-comments">
    <% @comments.each do |comment| %>
        <li class="comment list-group-item">
          <div class="the-title"><%= link_to comment.text.title, edit_text_path(comment.text.id) %></div>
          <div class="the-text"><%= comment.value %></div>
          <div class="comment-metadata">
            <span class="the-user"><%= comment.user.email %></span>
            <span class="the-date"><%= comment.created_at %></span>
          </div>
        </li>
    <% end %>
  </ul>
</div>
<div class="col-md-6">
  <h2>Recent edits</h2>
  <ul class="list-group">
    <% @changed_texts.each do |change| %>
        <li class="change list-group-item">
          <%= link_to change.item.title, edit_text_path(change.item) %>
          <div class="change-medatada">
            <span class="date"><%= change.created_at.to_formatted_s(:short) %></span>
            <span class="who"><%= change.whodunnit %></span>
          </div>
        </li>
    <% end %>
  </ul>
</div>