<% page_title('Browse authors') %>
<h3>Browse all Authors</h3>

<div class="row">
  <div class="pagination-stuff col-md-10">
    <%= alphabetical_paginate @alpha_params %>
  </div>
</div>

<div class="row">
  <div id="pagination_table" class="col-md-12">
    <ul class="list-group">
      <% @authors.each do |author| %>
        <li class="list-group-item">
          <a href="<%= public_author_path(author) %>">
            <span class="topic-author-english"><%= author.full_name %></span>
            <% unless author.greek_full_name.blank? %>
              / <span class="topic-author-greek"><%= author.greek_full_name %></span>
            <% end %>
            <%= display_dates author %>
          </a>
        </li>
      <% end %>
    </ul>

  </div>
</div>