<%= javascript_include_tag 'https://cdn.plot.ly/plotly-1.54.1.min.js' %>
<% page_title(@author.full_name) %>
<div class="container">
  <div class="row">
    <div class="back-link"><%= link_to '◀ Browse all authors', public_authors_path %></div>
  </div>

  <div class="row">
    <div class="col-md-6 authors-texts">
      <div class="row">
        <h1 class="col-md-12">
          <span class="topic-author-english"><%= @author.full_name %></span>
          <% unless @author.greek_full_name.blank? %>
            <div class="topic-author-greek"><%= @author.greek_full_name %></div>
          <% end %>
          <div class="display-dates">
            <%= display_dates @author %>
          </div>
          <% if @author.domicile %>
            <div class="domicile">
              <%= @author.domicile %>
            </div>
          <% end %>
        </h1>
      </div>
      <h2>Texts</h2>
      <div class="row">
        <div class="pagination-stuff col-md-10">
          <%= paginate @texts %>
        </div>
      </div>
      <ul class="list-group" id="search-results">
        <% current_text_type = '' %>
        <% if @texts.current_page != 1 %>
          <% continued_notice = ' continued' %>
        <% else %>
          <% continued_notice = '' %>
        <% end %>
        <% @texts.order(:sort_census_id).each do |text| %>
          <% if current_text_type != text.text_type %>
            <h3 class="text-type"><%= text.plural_display_text_type %><%= continued_notice %></h3>
            <% continued_notice = '' %>
          <% end %>
          <% current_text_type = text.text_type %>
          <li class="list-group-item">
            <%= render 'shared/text_tombstone', text: text %>
          </li>
        <% end %>
      </ul>
      <div class="row">
        <div class="pagination-stuff col-md-10">
          <%= paginate @texts %>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <% if @author.loc_name || @author.greek_authority %>
        <h2>Authority names</h2>
        <div class="auth-names">
          <% if @author.loc_name %>
            <div class="auth-name row">
              <div class="auth-name__heading col-md-12">Library of Congress</div>
              <div class="auth-name__value col-md-12"><%= link_to @author.loc_name, @author.loc %></div>
            </div>
          <% end %>
          <% if @author.greek_authority %>
            <div class="auth-name row">
              <span class="auth-name__heading col-md-12">National Library of Greece</span>
              <span class="auth-name__value col-md-12"><%= @author.greek_authority %></span>
            </div>
          <% end %>
          <% if @author.viaf %>
            <div class="auth-name row">
              <span class="auth-name__heading col-md-12">VIAF</span>
              <span class="auth-name__value col-md-12"><%= link_to @author.viaf %></span>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="authors-names">
        <h3>Appears in CENSUS as</h3>
        <ul class="appears-as-list">
          <% @author.names_in_source.each do |name| %>
            <li>
              <a href="/public/search?type=adv&bq=(authors_name_from_source::<%= name %>)"><%= name %></a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="places-map">
        <h3>Places of publication</h3>
        <div id="map-contents" style=""></div>
      </div>
      <% if @author.translations_years.length > 2 %>
        <div class="dates-histogram">
          <h3>Dates of publication</h3>
          <div id="histogram-contents" style=""></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    draw_map();

    <% if @author.translations_years.length > 2 %>
    draw_histogram();
    <% end %>

    function draw_histogram() {
        var x = [<%= years_list(@author) %>];

        var bins = Math.max(...x) - Math.min(...x);
        console.log('Will have ' + 20 + 'bins');
        console.log(x);

        var trace = {
            x: x,
            xbins: {
                start: 0,
                end: 4000,
                size: 1,
            },
            type: 'histogram',
            marker: {
                color: "rgba(117, 107, 177, 0.7)",
                line: {
                    color: "rgba(188,189,220, .04)",
                    width: 1
                },
            }
        };
        var data = [trace];
        var layout = {
            margin: {
                l: 40,
                r: 40,
                b: 40,
                t: 20,
                pad: 4
            },
            height: 300,
            dragmode: false,
            bargroupgap: .1
        };
        Plotly.newPlot('histogram-contents', data, layout, {displayModeBar: false});
    }

    function draw_map() {
        var data = [{
            type: 'choropleth',
            locations: [<%= country_code_list(@author) %>],
            z: <%= country_count_list(@author) %>,
            text: [<%= country_code_list(@author) %>],
            showscale: false,
            colorscale: [
                [0, 'rgb(242,240,247)'], [0.4, 'rgb(218,218,235)'],
                [0.6, 'rgb(188,189,220)'], [0.8, 'rgb(158,154,200)'],
                [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
            ]
        }];

        var layout = {
            dragmode: false,
            title: null,
            showscale: false,
            showlegend: false,
            height: 200,
            margin: {
                l: 0,
                r: 50,
                b: 0,
                t: 0,
                pad: 4
            },
            geo: {
                scope: 'world',
                projection: {
                    type: 'robinson'
                },
                showscale: false
            }
        };
        Plotly.plot('map-contents', data, layout, {showLink: false, displayModeBar: false});
    }
</script>