<%= javascript_include_tag 'https://cdn.plot.ly/plotly-1.54.1.min.js' %>
<% page_title(@author.full_name) %>
<div class="container public-show-name" id="search-results">

  <%= render 'author_heading' %>
</div>

<%# Tab navigation %>
<ul class="nav nav-tabs" role="tablist">

  <% if @author.has_texts_of_type?('translation_book') %>
    <li role="presentation" <%= active_class_notice('translation_book') %>>
      <a href="/public/authors/<%= @author.id %>/translations/books" aria-controls="texts" role="tab">Translations
        (books)</a>
    </li>
  <% end %>

  <% if @author.has_texts_of_type?('translation_part') %>
    <li role="presentation" <%= active_class_notice('translation_part') %>>
      <a href="/public/authors/<%= @author.id %>/translations/articles" aria-controls="texts" role="tab">Translations
        (articles)</a>
    </li>
  <% end %>

  <% if @author.has_texts_of_type?('study_book') %>
    <li role="presentation" <%= active_class_notice('study_book') %>>
      <a href="/public/authors/<%= @author.id %>/studies/books" aria-controls="texts" role="tab">Studies (books)</a>
    </li>
  <% end %>

  <% if @author.has_texts_of_type?('study_part') %>
    <li role="presentation" <%= active_class_notice('study_part') %>>
      <a href="/public/authors/<%= @author.id %>/studies/articles" aria-controls="texts" role="tab">Studies
        (articles)</a>
    </li>
  <% end %>

  <li role="presentation" <%= active_class_notice(:profile) %>>
    <a href="/public/authors/<%= @author.id %>/profile" aria-controls="profile" role="tab">Profile</a>
  </li>

</ul>

<% if @texts.blank? %>
  <div role="tabpanel" class="tab-pane" id="profile">
    <%= render 'authors_info' %>
  </div>
<% else %>
  <%= render partial: 'authors_texts', locals: {texts: @texts} %>
<% end %>



<script>
    draw_map();

    <% if @author.translations_years.length > 2 %>
    draw_histogram();
    <% end %>

    function draw_histogram() {
        var x = [<%= years_list(@author) %>];

        var bins = Math.max(...x) - Math.min(...x);
        console.log('Will have ' + 20 + 'bins');
        console.log(x);

        var trace = {
            x: x,
            xbins: {
                start: 0,
                end: 4000,
                size: 1,
            },
            type: 'histogram',
            marker: {
                color: "rgba(117, 107, 177, 0.7)",
                line: {
                    color: "rgba(188,189,220, .04)",
                    width: 1
                },
            }
        };
        var data = [trace];
        var layout = {
            margin: {
                l: 40,
                r: 40,
                b: 40,
                t: 20,
                pad: 4
            },
            height: 300,
            dragmode: false,
            bargroupgap: .1
        };
        Plotly.newPlot('histogram-contents', data, layout, {displayModeBar: false});
    }

    function draw_map() {
        var data = [{
            type: 'choropleth',
            locations: [<%= country_code_list(@author) %>],
            z: <%= country_count_list(@author) %>,
            text: [<%= country_code_list(@author) %>],
            showscale: false,
            colorscale: [
                [0, 'rgb(242,240,247)'], [0.4, 'rgb(218,218,235)'],
                [0.6, 'rgb(188,189,220)'], [0.8, 'rgb(158,154,200)'],
                [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
            ]
        }];

        var layout = {
            dragmode: false,
            title: null,
            showscale: false,
            showlegend: false,
            height: 200,
            margin: {
                l: 0,
                r: 50,
                b: 0,
                t: 0,
                pad: 4
            },
            geo: {
                scope: 'world',
                projection: {
                    type: 'robinson'
                },
                showscale: false
            }
        };
        Plotly.plot('map-contents', data, layout, {showLink: false, displayModeBar: false});
    }
</script>