<div class="container">
  <div class="row">
    <h1 class="col-md-12"><%= @author.full_name %></h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2>Translations</h2>
          <ul>
            <% @author.translations.each do |text| %>
                <li><%= link_to convert_underscores(text.title), public_text_path(text) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% if @author.studies.count > 0 %>
          <div class="row">
            <div class="col-md-12">
              <h2>Studies</h2>
              <ul>
                <% @author.studies.each do |text| %>
                    <li><%= link_to convert_underscores(text.title), public_text_path(text) %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% end %>
      <% if @author.poems.count > 0 %>

          <div class="row">
            <div class="col-md-12">
              <h2>Poems</h2>
              <ul>
                <% @author.poems.each do |poem| %>
                    <li><%= convert_underscores poem %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'public/authors/timeline', locals: {author: @author} %>
      <%= render partial: 'public/authors/map', locals: {author: @author} %>
    </div>
  </div>

  <div class="row">
    <div class="back-link"><%= link_to 'Return to Browse All Authors', public_authors_path %></div>
  </div>
</div>