<% page_title(@author.full_name) %>
<div class="container">
  <div class="row">
    <div class="back-link"><%= link_to '◀ Browse all authors', public_authors_path %></div>
  </div>

  <div class="row">
    <div class="col-md-6 authors-texts">
      <div class="row">
        <h1 class="col-md-12"><%= @author.full_name %></h1>
      </div>
      <h2>Texts</h2>
      <div class="row">
        <div class="pagination-stuff col-md-10">
          <%= paginate @texts %>
        </div>
      </div>
      <ul class="list-group" id="search-results">
        <% @texts.order(:sort_census_id).each do |text| %>
          <li class="list-group-item">
            <%= render 'shared/text_tombstone', text: text %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <% if @author.loc_name || @author.greek_authority %>
        <h2>Authority names</h2>
        <div class="auth-names">
          <% if @author.loc_name %>
            <div class="auth-name row">
              <div class="auth-name__heading col-md-12">Library of Congress</div>
              <div class="auth-name__value col-md-12"><%= @author.loc_name %></div>
            </div>
          <% end %>
          <% if @author.greek_authority %>
            <div class="auth-name row">
              <span class="auth-name__heading col-md-12">National Library of Greece</span>
              <span class="auth-name__value col-md-12"><%= @author.greek_authority %></span>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="authors-names">
        <h3>Appears in CENSUS as</h3>
        <ul class="appears-as-list">
          <% @author.names_in_source.each do |name| %>
            <li>
              <a href="/public/search?type=adv&bq=(authors_name_from_source::<%= name %>)"><%= name %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>