<%= javascript_include_tag 'https://cdn.plot.ly/plotly-1.54.1.min.js' %>
<% page_title(@author.full_name) %>
<div class="container">

  <%# Letters at top of page for navigating %>
  <div class="row">
    <div class="col-md-8">
      <%= render 'author_letter_list' %>
    </div>
  </div>

  <div class="row">

    <%# List of authors names in left navigation %>
    <div class="col-md-3">
      <%= render 'author_navigation' %>
    </div>

    <%# Main content block %>
    <div class="col-md-9">

      <div class="row">
        <%= render 'author_heading' %>
      </div>

      <%# Tab navigation %>
      <ul class="nav nav-tabs" role="tablist">

        <% unless @translations_book.empty? %>
          <li role="presentation" class="<%= 'active' if @active_list == :translations_book %>">
            <a href="#translations_book" aria-controls="texts" role="tab" data-toggle="tab">Translations (books)</a>
          </li>
        <% end %>

        <% unless @translations_part.empty? %>
          <li role="presentation" class="<%= 'active' if @active_list == :translations_part %>">
            <a href="#translations_part" aria-controls="texts" role="tab" data-toggle="tab">Translations (articles)</a>
          </li>
        <% end %>

        <% unless @studies_book.empty? %>
          <li role="presentation" class="<%= 'active' if @active_list == :studies_book %>">
            <a href="#studies_book" aria-controls="texts" role="tab" data-toggle="tab">Studies (books)</a>
          </li>
        <% end %>

        <% unless @studies_part.empty? %>
          <li role="presentation" class="<%= 'active' if @active_list == :studies_part %>">
            <a href="#studies_part" aria-controls="texts" role="tab" data-toggle="tab">Studies (articles)</a>
          </li>
        <% end %>

        <li role="presentation">
          <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
        </li>

      </ul>

      <%# Tab content %>
      <div class="tab-content">

        <% unless @translations_book.empty? %>
          <div role="tabpanel" class="tab-pane <%= 'active' if @active_list == :translations_book %>" id="translations_book">
            <h2 class="text-list-heading">Translations (books)</h2>
            <%= render partial: 'authors_texts', locals: {texts: @translations_book} %>
          </div>
        <% end %>

        <% unless @translations_part.empty? %>
          <div role="tabpanel" class="tab-pane <%= 'active' if @active_list == :translations_part %>" id="translations_part">
            <h2 class="text-list-heading">Translations (articles)</h2>
            <%= render partial: 'authors_texts', locals: {texts: @translations_part} %>
          </div>
        <% end %>

        <% unless @studies_book.empty? %>
          <div role="tabpanel" class="tab-pane <%= 'active' if @active_list == :studies_book %>" id="studies_book">
            <h2 class="text-list-heading">Studies (books)</h2>
            <%= render partial: 'authors_texts', locals: {texts: @studies_book} %>
          </div>
        <% end %>

        <% unless @studies_part.empty? %>
          <div role="tabpanel" class="tab-pane <%= 'active' if @active_list == :studies_part %>" id="studies_part">
            <h2 class="text-list-heading">Studies (articles)</h2>
            <%= render partial: 'authors_texts', locals: {texts: @studies_part} %>
          </div>
        <% end %>

        <div role="tabpanel" class="tab-pane" id="profile">
          <%= render 'authors_info' %>
        </div>

      </div>
    </div>

  </div>
</div>

<script>
    draw_map();

    <% if @author.translations_years.length > 2 %>
    draw_histogram();
    <% end %>

    function draw_histogram() {
        var x = [<%= years_list(@author) %>];

        var bins = Math.max(...x) - Math.min(...x);
        console.log('Will have ' + 20 + 'bins');
        console.log(x);

        var trace = {
            x: x,
            xbins: {
                start: 0,
                end: 4000,
                size: 1,
            },
            type: 'histogram',
            marker: {
                color: "rgba(117, 107, 177, 0.7)",
                line: {
                    color: "rgba(188,189,220, .04)",
                    width: 1
                },
            }
        };
        var data = [trace];
        var layout = {
            margin: {
                l: 40,
                r: 40,
                b: 40,
                t: 20,
                pad: 4
            },
            height: 300,
            dragmode: false,
            bargroupgap: .1
        };
        Plotly.newPlot('histogram-contents', data, layout, {displayModeBar: false});
    }

    function draw_map() {
        var data = [{
            type: 'choropleth',
            locations: [<%= country_code_list(@author) %>],
            z: <%= country_count_list(@author) %>,
            text: [<%= country_code_list(@author) %>],
            showscale: false,
            colorscale: [
                [0, 'rgb(242,240,247)'], [0.4, 'rgb(218,218,235)'],
                [0.6, 'rgb(188,189,220)'], [0.8, 'rgb(158,154,200)'],
                [0.8, 'rgb(117,107,177)'], [1, 'rgb(84,39,143)']
            ]
        }];

        var layout = {
            dragmode: false,
            title: null,
            showscale: false,
            showlegend: false,
            height: 200,
            margin: {
                l: 0,
                r: 50,
                b: 0,
                t: 0,
                pad: 4
            },
            geo: {
                scope: 'world',
                projection: {
                    type: 'robinson'
                },
                showscale: false
            }
        };
        Plotly.plot('map-contents', data, layout, {showLink: false, displayModeBar: false});
    }
</script>