<div class="row">
  <div class="pagination-stuff col-md-12">
    <%= paginate @versions %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <% @versions.each do |version| %>
          <li class="list-group-item change">
            <% if defined? version.item.census_id %>
                <strong><%= version.item.census_id %></strong>
            <% end %>
            <%= link_to changed_item_label(version.item), changed_item_url(version.item), :class => 'change-link' %>
            <br>
            <span class="date"><%= version.created_at %> — <%= version.whodunnit %></span><br>
            <% changes(version).each do |change| %>
                <span class="field"><%= change[:field] %></span>
                <span class="from"><%= change[:from] %></span> >
                <span class="to"><%= change[:to] %></span><br>
                <span class="whodunnit"><%= change[:whodunnit] %></span>
            <% end %>
          </li>
      <% end %>
    </ul>
    <%= paginate @versions %>
  </div>
</div>

