<p id="notice"><%= notice %></p>

<h1>Changes</h1>

<table>
  <thead>
    <tr>
      <th>Item type</th>
      <th>Item</th>
      <th>Event</th>
      <th>Time</th>
      <th>Changes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.item_type %></td>
        <td><%= version.item_id %></td>
        <td><%= version.event %></td>
        <td><%= version.created_at %></td>
        <td><%= version.object_changes %></td>
        <td><%= link_to 'Show', version %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
