<%= simple_form_for(@journal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, as: :string %>
  </div>
    <div class="form-inputs">
      <%= f.input :issn, as: :string %>
    </div>
    <div class="form-inputs">
      <%= f.association :place %>
    </div>
    <div class="form-inputs">
      <%= f.input :indexed_range, label: "Range of volumes/issues indexed" %>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
