<div class="metadata">
  <div class="element"></div>
  <dt>Title</dt>
  <dd><%= convert_underscores(@text.title) %></dd>

  <% if @text.text_type == 'study_book' || @text.text_type == 'study_part' %>
    <%= metadata_row 'Subject\'s name as appears in text', @text.authors_name_from_source %>
  <% end %>

  <% if @text.text_type == 'translation_book' || @text.text_type == 'translation_part' %>
    <% if @text.authors && @text.authors.count > 1 %>
      <dt><%= "Author".pluralize(@text.authors.count) %></dt>
      <% @text.authors.each do |citation| %>
        <dd><%= citation.name %></dd>
      <% end %>
    <% elsif @text.authors && @text.authors.count == 1 %>
      <dt>Author</dt>
      <% @text.authors.each do |citation| %>
        <dd><%= @text.authors_name_from_source %> (<%= citation.name %>)</dd>
      <% end %>
    <% end %>
  <% else %>
    <% if @text.authors %>
      <dt><%= "Author".pluralize(@text.authors.count) %></dt>
      <% @text.authors.each do |citation| %>
        <dd><%= citation.name %></dd>
      <% end %>
    <% end %>
  <% end %>

  <% if @text.translators && @text.translators.count > 0 %>
    <dt><%= "Translator".pluralize(@text.translators.count) %></dt>
    <% @text.translators.each do |citation| %>
      <dd><%= citation.name %></dd>
    <% end %>
  <% end %>

  <% if @text.editors && @text.editors.count > 0 %>
    <dt><%= "Editor".pluralize(@text.editors.count) %></dt>
    <% @text.editors.each do |citation| %>
      <dd><%= citation.name %></dd>
    <% end %>
  <% end %>

  <% if @text.other_contributors && @text.other_contributors.count > 0 %>
    <dt>Other <%= "contributor".pluralize(@text.other_contributors.count) %></dt>
    <% @text.other_contributors.each do |citation| %>
      <dd><%= citation.name %> <span class="role">(<%= citation.role %>)</span></dd>
    <% end %>
  <% end %>
  <% if @text.journal && @text.journal.title != '' %>
    <dt>In</dt>
    <dd>
        <span class="journal-title">
          <%= link_to (@text.journal.title.blank? ? "[No title]" : convert_underscores(@text.journal.title)), public_journal_path(@text.journal) %>
      </span>
      <%= formatted_journal_issue @text %>
    </dd>
    <%= metadata_row 'Page span', @text.page_span.sub('pp. ', '') %>
  <% elsif @text.volume && @text.volume.title != '' %>
    <dt>In</dt>
    <dd>
          <span class="journal-title">
          <%= link_to (@text.volume.title.blank? ? "[No title]" : convert_underscores(@text.volume.title)), public_volume_path(@text.volume) %>
        </span>
      <%= formatted_journal_issue @text %>
    </dd>
    <%= metadata_row 'Page span', @text.page_span.sub('pp. ', '') %>
  <% else %>
    <%= metadata_row 'Page count', @text.page_span.sub('pp. ', '') %>
  <% end %>

  <%= metadata_row 'Title of issue', @text.issue_title %>

  <% if @text.url %>
    <dt>URL</dt>
    <dd><a href="<%= @text.url %>"><%= @text.url %></a></dd>
  <% end %>

  <%= metadata_row 'Genre', @text.genre %>

  <% if @text.text_type.include? "study" %>
    <%= metadata_row 'Type', 'Study' %>
  <% else %>
    <%= metadata_row 'Type', 'Translation' %>
  <% end %>

  <%= metadata_row 'Material type', @text.material_type %>

  <%= metadata_row 'Place of publication', @text.place_of_publication %>

  <%= metadata_row 'Original Greek place of publication', @text.original_greek_place_of_publication %>

  <%= metadata_row 'Publisher', @text.publisher %>

  <%= metadata_row 'Original Greek publisher', @text.original_greek_publisher %>

  <%= metadata_row 'Date of publication', @text.date %>

  <%= metadata_row 'Original Greek date of publication', @text.original_greek_date %>

  <%= metadata_row 'Editorial note', @text.editorial_annotation %>

  <%= metadata_row 'Physical description', @text.physical_description %>

  <%= metadata_row 'Other note', @text.note %>

  <% if @text.is_bilingual %>
    <dt>Text is bilingual?</dt>
    <dd>Yes</dd>
  <% end %>

  <% if @text.illustrations_noted %>
    <dt>Illustrations noted?</dt>
    <dd>Yes</dd>
  <% end %>

  <% if @text.isbns && @text.isbns.count > 0 %>
    <dt><%= "ISBN".pluralize(@text.isbns.count) %></dt>
    <% @text.isbns.each do |isbn| %>
      <dd><%= isbn.value %></dd>
    <% end %>
  <% end %>

  <%= metadata_row 'Original Greek text', @text.original_greek_citation %>

  <%= metadata_row 'Original Greek collection', @text.original_greek_collection %>

  <% if @text.census_id %>
    <dt>Entry Number</dt>
    <dd><%= @text.census_id %></dd>
  <% end %>

  <% unless @text.cross_references.empty? %>
    <dt>References entries</dt>
    <% @text.cross_references.each do |reference| %>
      <dd><a href="/public/texts/<%= reference.census_id %>"><%= reference.census_id %></a></dd>
    <% end %>
  <% end %>
</div>