<dl class="component">

  <dt>Title</dt>
  <dd><%= convert_underscores component.title %></dd>

  <% if component.greek_source_title != '' %>
    <dt>Greek source title</dt>
    <dd><%= component.greek_source_title %></dd>
  <% end %>

  <% if component.pages %>
    <dt>Pages</dt>
    <dd><%= component.pages %></dd>
  <% end %>

  <% if component.authors && component.authors != [] %>
    <dt>Author(s)</dt>
    <dd>
      <%= controlled_name_link_list(component.authors).html_safe %>
    </dd>
  <% end %>

  <% if component.translators && component.translators != [] %>
    <dt>Translator(s)</dt>
    <dd>
      <%= controlled_name_link_list(component.translators).html_safe %>
    </dd>
  <% end %>

  <% if component.genre && component.genre != '' %>
    <dt>Genre</dt>
    <dd><%= component.genre %></dd>
  <% end %>

  <% if component.note && component.note != '' %>
    <dt>Note</dt>
    <dd><%= convert_underscores component.note %></dd>
  <% end %>

  <% if component.is_bilingual %>
    <dt>Is bilingual?</dt>
    <dd>Yes</dd>
  <% end %>

  <div style="clear: both;"></div>
</dl>
<hr>