<div class="component">
  <dt>Title</dt>
  <dd><%= convert_underscores component.title %></dd>
  <% if component.pages %>
    <dt>Pages</dt>
    <dd><%= component.pages %></dd>
  <% end %>
  <% if component.authors && component.authors != [] %>
    <dt>Author(s)</dt>
    <dd>
      <% author_names = component.authors.map(&:name).join ('; ') %>
      <%= author_names %>
    </dd>
  <% end %>
  <% if component.translators && component.translators != [] %>
    <dt>Translator(s)</dt>
    <dd>
      <% translator_names = component.translators.map(&:name).join ('; ') %>
      <%= translator_names %>
    </dd>
  <% end %>
  <% if component.genre != '' %>
    <dt>Genre</dt>
    <dd><%= component.genre %></dd>
  <% end %>
  <% if component.note != '' %>
    <dt>Note</dt>
    <dd><%= convert_underscores component.note %></dd>
  <% end %>
  <div style="clear: both;"></div>
</div>
<hr>