<div class="component container">
  <div class="component-field component-title">
    <span class="component-heading">Title</span>
    <%= convert_underscores component.title %>
    <% if component.pages %>
      (<%= component.pages %>)
    <% end %>
  </div>
  <% if component.authors && component.authors != [] %>
    <% author_names = component.authors.map(&:name).join ('; ') %>
    <%= render 'component_field', :heading => 'Author(s)', :value => author_names %>
  <% end %>
  <% if component.translators && component.translators != [] %>
    <% translator_names = component.translators.map(&:name).join ('; ') %>
    <%= render 'component_field', :heading => 'Translator(s)', :value => translator_names %>
  <% end %>
  <% if component.genre != '' %>
    <%= render 'component_field', :heading => 'Genre', :value => component.genre %>
  <% end %>
</div>