<h3>Browse all Texts</h3>

<div class="row">
  <div class="pagination-stuff col-md-10">
    <%= paginate @texts %>
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <% texts_by_author(@texts).each do |author| %>
      <h3><%= author[:author] %></h3>
      <ul class="list-group">
        <% author[:texts].each do |text| %>
          <li class="<%= text.status.code %> list-group-item">
            <span class="census-id"><%= text.census_id %></span>
            <%= link_to text.title, public_text_path(text) %>
            <span class="<%= text.status.name %> badge"><%= text.status.name %></span>
          </li>
        <% end %>
      </ul>
    <% end %>

    <%= paginate @texts %>
  </div>
</div>