<div class="container">
  <div class="row">
    <h3>Record View</h3>

    <div class="col-lg-6 col-md-6">
      <% if @text.census_id.present? %>
        <div class="field">
          <div class="field-label">Census:</div>
          <%= @text.census_id %>
        </div>
      <% end %>

      <% if @text.section.present? %>
        <div class="field">
          <div class="field-label">Section:</div>
          <%= @text.section.name %>
        </div>
      <% end %>

      <% if @text.text_type.present? %>
        <div class="field">
          <div class="field-label">Text type:</div>
          <%= @text.text_type.capitalize.gsub!('_', ' ') %>
        </div>
      <% end %>

      <% if @text.material_type.present? %>
        <div class="field">
          <div class="field-label">Material type:</div>
          <%= @text.material_type %>
        </div>
      <% end %>

      <% if @text.topic_author.full_name.present? %>
        <div class="field">
          <div class="field-label">Topic author:</div>
          <%= @text.topic_author.full_name %>
        </div>
      <% end %>

      <% if @text.authors_name_from_source.present? %>
        <div class="field">
          <div class="field-label">Author's name as it appears in this source:</div>
          <%= @text.authors_name_from_source %>
        </div>
      <% end %>

      <% if @text.title.present? %>
        <div class="field">
          <div class="field-label">Title:</div>
          <%= @text.title %>
        </div>
      <% end %>

      <% if @text.text_citations.present? %>
        <div class="field">
          <div class="field-label">Citations:</div>
          <% @text.text_citations.each do |citation| %>
            <ul class="list-group">
              <% if citation.name.present? %><li class="list-group-item"><div class="field-label">Name:</div> <%= citation.name %></li><% end %>
              <% if citation.role.present? %><li class="list-group-item"><div class="field-label">Role:</div> <%= citation.role %></li><% end %>
              <% if citation.from_language_id.present? %><li class="list-group-item"><div class="field-label">From language:</div> <%= get_lang_from_id(citation.from_language_id.to_i).name %></li><% end %>
              <% if citation.to_language_id.present? %><li class="list-group-item"><div class="field-label">To language:</div> <%= get_lang_from_id(citation.to_language_id.to_i).name %></li><% end %>
              <% if citation.source_edition.present? %><li class="list-group-item"><div class="field-label">Source edition:</div> <%= citation.source_edition %></li><% end %>
            </ul>
        <% end %>
        </div>
      <% end %>

      <% if @text.volume.present? %>
        <div class="field">
          <div class="field-label">Volume:</div>
          <%= link_to (@text.volume.title.present? ? @text.volume.title : "[no volume title]"), public_volume_path(@text.volume.id) %>
        </div>
      <% end %>

      <% if @text.series.present? %>
        <div class="field">
          <div class="field-label">Series:</div>
          <%= @text.series %>
        </div>
      <% end %>

      <% if @text.publication_places.present? %>
        <div class="field">
          <div class="field-label">Places of Publication:</div>
          <ul class="list-group">
            <% @text.publication_places.each do |pubplace| %>
              <% if pubplace.place.present? %><li class="list-group-item"><%= pubplace.place.name %> <% if pubplace.primary.present? %> (primary)<% end %></li><% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @text.publisher.present? %>
        <div class="field">
          <div class="field-label">Publisher:</div>
          <%= @text.publisher %>
        </div>
      <% end %>

      <% if @text.date.present? %>
        <div class="field">
          <div class="field-label">Date:</div>
          <%= @text.date %>
        </div>
      <% end %>

      <% if @text.page_count.present? %>
        <div class="field">
          <div class="field-label">Page count:</div>
          <%= @text.page_count %>
        </div>
      <% end %>

      <% if @text.page_span.present? %>
        <div class="field">
          <div class="field-label">Page span:</div>
          <%= @text.page_span %>
        </div>
      <% end %>

      <div class="field">
        <div class="field-label">Text is bilingual:</div>
        <% if @text.is_bilingual %>
          True
        <% else %>
          False
        <% end %>
      </div>

      <% if @text.genre.present? %>
        <div class="field">
          <div class="field-label">Genre:</div>
          <%= @text.genre %>
        </div>
      <% end %>

      <div class="field">
        <div class="field-label">Illustrations noted:</div>
        <% if @text.illustrations_noted %>
          True
        <% else %>
          False
        <% end %>
      </div>

      <% if @text.url.present? %>
        <div class="field">
          <div class="field-label">URL:</div>
          <%= @text.url %>
        </div>
      <% end %>

      <% if @text.journal.present? %>
        <div class="field">
          <div class="field-label">Journal:</div>
          <ul class="list-group">
            <% if @text.title.present? %><li class="list-group-item"><div class="field-label">Title:</div> <%= link_to (@text.journal.title.present? ? @text.journal.title : "[no journal title]"), public_journal_path(@text.journal.id) %></li><% end %>
            <% if @text.issue_volume.present? %><li class="list-group-item"><div class="field-label">Issue volume:</div> <%= @text.issue_volume %></li><% end %>
            <% if @text.issue_number.present? %><li class="list-group-item"><div class="field-label">Issue number:</div> <%= @text.issue_number %></li><% end %>
            <% if @text.issue_season_month.present? %><li class="list-group-item"><div class="field-label">Season/month:</div> <%= @text.issue_season_month %></li><% end %>
            <% if @text.issue_title.present? %><li class="list-group-item"><div class="field-label">Special Season Title:</div> <%= @text.issue_title %></li><% end %>
            <% if @text.issue_editor.present? %><li class="list-group-item"><div class="field-label">Special Season Editor:</div> <%= @text.issue_editor %></li><% end %>
          </ul>
        </div>
      <% end %>

      <% if @text.sponsoring_organization.present? %>
        <div class="field">
          <div class="field-label">Sponsoring organization:</div>
          <%= @text.sponsoring_organization %>
        </div>
      <% end %>

      <% if @text.collection.present? %>
        <div class="field">
          <div class="field-label">Collection:</div>
          <%= @text.collection %>
        </div>
      <% end %>

      <% if @text.standard_numbers.present? %>
        <div class="field">
          <div class="field-label">Standardized numbers:</div>
          <ul class="list-group">
            <% @text.standard_numbers.each do |stdnum| %>
              <% if stdnum.value.present? %><li class="list-group-item"><div class="field-label">Number:</div> <%= stdnum.value %> <% if stdnum.numtype.present? %>Type: <%= stdnum.numtype %><% end %></li><% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @text.dai.present? %>
        <div class="field">
          <div class="field-label">DAI:</div>
          <%= @text.dai %>
        </div>
      <% end %>

      <% if @text.components.present? %>
        <div class="field">
          <div class="field-label">Components:</div>
          <% @text.components.each do |component| %>
          <ul class="list-group">
            <% if component.title.present? %><li class="list-group-item"><div class="field-label">Title:</div> <%= component.title %></li><% end %>
            <% if component.pages.present? %><li class="list-group-item"><div class="field-label">Pages:</div> <%= component.pages %></li><% end %>
            <% if component.genre.present? %><li class="list-group-item"><div class="field-label">Genre:</div> <%= component.genre %></li><% end %>
            <% if component.note.present? %><li class="list-group-item"><div class="field-label">Note:</div> <%= component.note %></li><% end %>
            <% if component.text_type.present? %><li class="list-group-item"><div class="field-label">Text type:</div> <%= component.text_type %></li><% end %>
            <% if component.is_bilingual.present? %><li class="list-group-item"><div class="field-label">Is Bilingual:</div> <%= component.is_bilingual %></li><% end %>
            <% if component.component_citations.present? %>
              <li class="list-group-item"> <div class="field-label">Component Citations:</div>
                <ul class="list-group">
                  <% component.component_citations.each do |component_citation| %>
                    <% if component_citation.name.present? %><li class="list-group-item"><div class="field-label">Name:</div> <%= component_citation.name %></li><% end %>
                    <% if component_citation.role.present? %><li class="list-group-item"><div class="field-label">Role:</div> <%= component_citation.role %></li><% end %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        <% end %>
        </div>
      <% end %>

      <% if @text.abstract.present? %>
        <div class="field">
          <div class="field-label">Abstract:</div>
          <%= @text.abstract %>
        </div>
      <% end %>

      <% if @text.editorial_annotation.present? %>
        <div class="field">
          <div class="field-label">Editorial annotation:</div>
          <%= @text.editorial_annotation %>
        </div>
      <% end %>

      <% if @text.physical_description.present? %>
        <div class="field">
          <div class="field-label">Physical description:</div>
          <%= @text.physical_description %>
        </div>
      <% end %>

      <% if @text.note.present? %>
        <div class="field">
          <div class="field-label">Other notes:</div>
          <%= @text.note %>
        </div>
      <% end %>

      <% if @text.source.present? ||
          @text.original_greek_title.present? ||
          @text.original_greek_collection.present? ||
          @text.original_greek_place_of_publication.present? ||
          @text.original_greek_publisher.present? ||
          @text.original_greek_date.present?
      %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="field-label">Original Greek Text</div>
          </div>
          <div class="panel-body">

            <% if @text.source.present? %>
              <div class="field">
                <div class="field-label">Source:</div>
                <%= @text.source %>
              </div>
            <% end %>

            <% if @text.original_greek_title.present? %>
              <div class="field">
                <div class="field-label">Original Greek title:</div>
                <%= @text.original_greek_title %>
              </div>
            <% end %>

            <% if @text.original_greek_collection.present? %>
              <div class="field">
                <div class="field-label">Original Greek collection:</div>
                <%= @text.original_greek_collection %>
              </div>
            <% end %>

            <% if @text.original_greek_place_of_publication.present? %>
              <div class="field">
                <div class="field-label">Original Greek place of publication:</div>
                <%= @text.original_greek_place_of_publication %>
              </div>
            <% end %>

            <% if @text.original_greek_publisher.present? %>
              <div class="field">
                <div class="field-label">Original Greek publisher:</div>
                <%= @text.original_greek_publisher %>
              </div>
            <% end %>

            <% if @text.original_greek_date.present? %>
              <div class="field">
                <div class="field-label">Original Greek date:</div>
                <%= @text.original_greek_date %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @text.other_text_languages.present? %>
        <div class="field">
          <div class="field-label">Other text languages:</div>
          <ul class="list-group">
            <% @text.other_text_languages.each do |olang| %>
              <% if olang.language.name.present? %><li class="list-group-item"><%= olang.language.name %></li><% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @text.special_location_of_item.present? %>
        <div class="field">
          <div class="field-label">Special location of item:</div>
          <%= @text.special_location_of_item %>
        </div>
      <% end %>

      <% if @text.special_source_of_info.present? %>
        <div class="field">
          <div class="field-label">Special source of info:</div>
          <%= @text.special_source_of_info %>
        </div>
      <% end %>

      <% if @text.cross_references.present? %>
        <div class="field">
          <div class="field-label">Cross references:</div>
          <ul class="list-group">
            <% @text.cross_references.each do |ref| %>
              <% if ref.census_id.present? %><li class="list-group-item"><div class="field-label">Census ID:</div> <%= ref.census_id %></a></li><% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="col-lg-6 col-md-6">
      <% if @text.original.present? %>
        <div class="panel panel-default">
          <div class="panel-heading"><div class="field-label">Original</div></div>
          <div class="panel-body">
            <%= raw(formatted_text(@text.original)) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= link_to 'Back', public_texts_path %>
  </div>
</div>