<h3>Record View</h3>
<p>
  <strong>Title:</strong>
  <%= @text.title %>
</p>

<p>
  <strong>Source:</strong>
  <%= @text.source %>
</p>

<p>
  <strong>Date:</strong>
  <%= @text.date %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @text.publisher %>
</p>

<p>
  <strong>Place of publication:</strong>
  <%= @text.place_of_publication %>
</p>

<p>
  <strong>Language:</strong>
  <%= @text.language %>
</p>

<p>
  <strong>Note:</strong>
  <%= @text.note %>
</p>

<p>
  <strong>Original:</strong>
  <%= formatted_text(@text.original) %>
</p>

<p>
  <strong>Census:</strong>
  <%= @text.census_id %>
</p>

<%= link_to 'Back', public_texts_path %>