<h3>Record View</h3>
<p>
  <strong>Title:</strong>
  <%= @text.title %>
</p>

<p>
  <strong>Section:</strong>
  <%= @text.section.name %>
</p>

<p>
  <strong>Text Type:</strong>
  <%= @text.text_type %>
</p>

<p>
  <strong>Material Type:</strong>
  <%= @text.material_type %>
</p>

<p>
  <strong>Topic Author:</strong>
  <%= @text.topic_author.full_name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @text.source %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @text.journal.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @text.date %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @text.publisher %>
</p>

<p>
  <strong>Place of publication:</strong>
  <% @text.publication_places.each do |pubplace| %>
    <%= pubplace.place.name %>
  <% end %>
</p>

<p>
  <strong>Language:</strong>
  <% @text.languages.each do |lang| %>
    <%= lang.name =%>
  <% end %>
</p>

<p>
  <strong>Text Citations:</strong>
  <% @text.text_citations.each do |citation| %>
    <p><%= citation.name =%> (<%= citation.role =%>)</p>
  <% end %>
</p>

<p>
  <strong>Components:</strong>
  <% @text.components.each do |component| %>
    <p><%= component.title =%> - <%= component.note =%></p>
    <% component.component_citations.each do |component_citation| %>
    <p> -- Component Citation:  <%= component_citation.name =%> (<%= component_citation.role =%>)</p>
    <% end %>
<% end %>
</p>

<p>
  <strong>Note:</strong>
  <%= @text.note %>
</p>

<p>
  <strong>Original:</strong>
  <%= raw(formatted_text(@text.original)) %>
</p>

<p>
  <strong>Census:</strong>
  <%= @text.census_id %>
</p>

<%= link_to 'Back', public_texts_path %>