<div class="public-show-text">
  <div class="row">
    <div>
      <h2><%= @text.topic_author.full_name %></h2>
      <h3><%= formatted_text(@text.title) %></h3>
    </div>
  </div>
  <div class="row">
    <div class="original-div">
      <%= render 'original_box', text: @text %>
    </div>
    <div class="metadata-div">
      <%= render 'metadata', text: @text %>
    </div>
  </div>

  <div class="row">
    <div class="back-link"><%= link_to 'Return to Browse All Texts', public_texts_path %></div>
  </div>
</div>