<% page_title("#{@text.title.gsub('_', '')} by #{@text.authors_names}") %>
<div class="container public-show-text">
  <div class="row">
    <a class="back-link" href="javascript:history.back();">◀ Result list</a>
  </div>
  <div class="row">
    <div class="text-heading">
      <% if @text.topic_author %>
        <h2><%= render "shared/topic_author", text: @text %></h2>
      <% end %>
      <h3><span class="census-id"><%= @text.census_id %></span> <%= convert_underscores @text.title %></h3>
      <div class="text-type"><%= @text.display_text_type %></div>
    </div>
  </div>
  <div class="row">
    <div class="metadata-div">
      <%= render 'metadata', text: @text %>
    </div>
    <div class="controls">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
            <li>
              <span class="original-launcher" type="button" data-toggle="modal" data-target="#myModal">
                Original
              </span>
            </li>
            <li>Export</li>
            <li>Cite</li>
            <% if user_signed_in? %>
              <%= link_to 'Edit', "/texts/#{@text.census_id}" %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Original record</h4>
        </div>
        <div class="modal-body">
          <%= render 'original_box' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% if @text.components && @text.components.count > 0 %>
      <%= render 'components', text: @text %>
    <% end %>
  </div>
</div>

<script>
    $(document).ready(function () {
        // https://stackoverflow.com/a/21903119
        function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        }

        var separate_word_search = true;
        var hl = getUrlParameter("hl");

        if (hl && hl !== 'undefined') {
            // decode HTML param
            // and convert HTML encoded spaces back into text spaces
            hl = decodeURI(hl).replace(/\+/g, ' ');

            // handle quoted search strings
            if (hl.indexOf('"') === 0) {
                separate_word_search = false;
                hl = hl.replace(/^"/, '').replace(/"$/, '');
            }

            // trigger mark.js instance with hl
            if (hl.length > 0) {
                console.log("looking to highlight: " + hl);
                $("main.container").mark(hl, {
                    "element": "mark",
                    "className": "highlight",
                    "exclude": ["dt"],
                    "separateWordSearch": separate_word_search
                });
            }
        }
    });
</script>