<div class="metadata journal-metadata">
  <dl class="journal-metadata__list">
    <% if @journal.url.present? %>
      <dt class="field-label">URL</dt>
      <dd>
        <a href="<%= @journal.url %>"><%= @journal.url %></a>
        <i class="fas fa-external-link-alt"></i>
      </dd>
    <% end %>

    <% if @journal.sponsoring_organization.present? %>
      <dt>Sponsoring organization</dt>
      <dd><%= @journal.sponsoring_organization %></dd>
    <% end %>

    <% if @journal.place.present? %>
      <dt>Place of publication</dt>
      <dd><%= @journal.place.name %></dd>
    <% end %>

    <% if @journal.first_published.present? %>
      <dt class="field-label">Year of first publication</dt>
      <dd><%= @journal.first_published %></dd>
    <% end %>

    <% if @journal.indexed_range.present? %>
      <dt class="field-label">Range of issues</dt>
      <dd><%= @journal.indexed_range %></dd>
    <% end %>


    <% if @journal.issn.present? %>
      <dt>ISSN</dt>
      <dd><%= @journal.issn %></dd>
      <% if @journal.issn_1.present? %>
        <dd><%= @journal.issn_1 %></dd>
      <% end %>
      <% if @journal.issn_2.present? %>
        <dd><%= @journal.issn_2 %></dd>
      <% end %>
      <% if @journal.issn_3.present? %>
        <dd><%= @journal.issn_3 %></dd>
      <% end %>
    <% end %>

    <% if @journal.eissn.present? %>
      <dt class="field-label">EISSN</dt>
      <dd><%= @journal.eissn %></dd>
    <% end %>

    <% if @journal.notes.present? %>
      <dt class="field-label">Note</dt>
      <dd><%= @journal.notes %></dd>
    <% end %>


    <% if @referenced_texts.present? %>

      <% this_issue_volume = '' %>
      <% this_issue_identifier = '' %>
      <dt class="field-label">Appears in entries</dt>
      <dd>
        <ul class="list-group">
          <% @referenced_texts.each do |text| %>
            <% formatted_issue_volume = formatted_journal_issue(text) %>

            <% if this_issue_volume != formatted_issue_volume %>
              <% this_issue_volume = formatted_issue_volume %>
              <div class="journal-show__issue-separator">
                <%= formatted_issue_volume %>
              </div>
            <% end %>

            <li class="list-group-item referenced-record">
              <span class="journal__item-page-span"><%= formatted_page_span(text) %></span>
              <%= tombstone_title_link(text, @results_formatter, params[:keyword]) %>

              <% if !text.urls.empty? %>
                <a class="available-online-notice" href="<%= text.urls[0].value %>" target="_blank" rel="noopener"><span class="badge badge-primary"><%= text.urls[0].top_level_domain %></span>
                  <i class="fas fa-external-link-alt"></i></a>
              <% end %>

              <% if text.text_type.include? 'study' %>
                <div class="topic-author">
                  Topic: <%= render 'shared/topic_author', text: text %>
                </div>
              <% end %>
              <div class="journal-metadata__genre"><%= text.genre %></div>
            </li>
          <% end %>
        </ul>
      </dd>
    <% end %>
  </dl>
</div>