<div class="metadata">
  <dl>
    <% if @journal.url.present? %>
      <dt class="field-label">URL</dt>
      <dd>
        <a href="<%= @journal.url %>"><%= @journal.url %></a>
        <i class="fas fa-external-link-alt"></i>
      </dd>
    <% end %>

    <% if @journal.sponsoring_organization.present? %>
      <dt>Sponsoring organization</dt>
      <dd><%= @journal.sponsoring_organization %></dd>
    <% end %>

    <% if @journal.place.present? %>
      <dt>Place of publication</dt>
      <dd><%= @journal.place.name %></dd>
    <% end %>

    <% if @journal.first_published.present? %>
      <dt class="field-label">Yer of first publication</dt>
      <dd><%= @journal.first_published %></dd>
    <% end %>

    <% if @journal.indexed_range.present? %>
      <dt class="field-label">Range of issues</dt>
      <dd><%= @journal.indexed_range %></dd>
    <% end %>


    <% if @journal.issn.present? %>
      <dt>ISSN</dt>
      <dd><%= @journal.issn %></dd>
      <% if @journal.issn_1.present? %>
        <dd><%= @journal.issn_1 %></dd>
      <% end %>
      <% if @journal.issn_2.present? %>
        <dd><%= @journal.issn_2 %></dd>
      <% end %>
      <% if @journal.issn_3.present? %>
        <dd><%= @journal.issn_3 %></dd>
      <% end %>
    <% end %>

    <% if @journal.eissn.present? %>
      <dt class="field-label">EISSN</dt>
      <dd><%= @journal.eissn %></dd>
    <% end %>

    <% if @journal.notes.present? %>
      <dt class="field-label">Note</dt>
      <dd><%= @journal.notes %></dd>
    <% end %>


    <% if @referenced_texts.present? %>
      <dt class="field-label">Appears in entries</dt>
      <dd>
        <ul class="list-group">
          <% @referenced_texts.each do |text| %>
            <li class="list-group-item referenced-record">
              <%= link_to (text.title.blank? ? "[No title]" : convert_underscores(text.title)), public_text_path(text) %>
              <% text.authors.each do |citation| %>
                <div class="referenced-record-author">
                  <%= citation.name %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </dd>
    <% end %>
  </dl>
</div>