<% page_title @journal.title %>
<div class="container">

  <div class="row">
    <div class="back-link"><%= link_to '◀ Browse all journals', public_journals_path %></div>
  </div>

  <div class="row">
    <h3>
      <% if @journal.title.present? %><cite><%= @journal.title %></cite>
      <% else %>[No title]
      <% end %></h3>

    <div class="col-md-12">

      <div class="col-md-8">
        <div class="metadata">
          <dl>
            <% if @journal.issn.present? %>
              <dt>ISSN</dt>
              <dd><%= @journal.issn %></dd>
            <% end %>

            <% if @journal.place.present? %>
              <dt class="field-label">Published</dt>
              <dd><%= @journal.place.name %></dd>
            <% end %>


            <% if @journal.sponsoring_organization.present? %>
              <dt>Sponsoring organization</dt>
              <dd><%= @journal.sponsoring_organization %></dd>
            <% end %>

            <% if @journal.indexed_range.present? %>
              <dt class="field-label">Indexed range</dt>
              <dd><%= @journal.indexed_range %></dd>
            <% end %>


            <% if @referenced_texts.present? %>
              <dt class="field-label">Appears in entries</dt>
              <dd>
                <ul class="list-group">
                  <% @referenced_texts.each do |text| %>
                    <li class="list-group-item referenced-record">
                      <%= link_to (text.title.blank? ? "[No title]" : convert_underscores(text.title)), public_text_path(text) %>
                      <% text.authors.each do |citation| %>
                        <div class="referenced-record-author">
                          <%= citation.name %>
                        </div>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </dd>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
  </div>


</div>