<div class="container">
  <div class="row">
    <h3>Record View</h3>

    <div class="col-lg-6 col-md-8 col-sm-12">

      <div class="field">
        <div class="field-label">Title:</div>
        <% if @journal.title.present? %><%= @journal.title %><% else %>[No title]<% end %>
      </div>

      <% if @journal.issn.present? %>
        <div class="field">
          <div class="field-label">ISSN:</div>
          <%= @journal.issn %>
        </div>
      <% end %>

      <% if @journal.place.present? %>
        <div class="field">
          <div class="field-label">Place:</div>
          <% if @journal.place.name.present? %><%= @journal.place.name %><% end %>
        </div>
      <% end %>

      <% if @journal.sponsoring_organization.present? %>
        <div class="field">
          <div class="field-label">Sponsoring organization:</div>
          <%= @journal.sponsoring_organization %>
        </div>
      <% end %>

      <% if @journal.indexed_range.present? %>
        <div class="field">
          <div class="field-label">Indexed range:</div>
          <%= @journal.indexed_range %>
        </div>
      <% end %>

      <% if @referenced_texts.present? %>
        <div class="field">
          <div class="field-label">Appears in the following entries:</div>
          <ul class="list-group">
          <% @referenced_texts.each do |text| %>
            <li class="list-group-item"><% if text.census_id.present? %>(<%= text.census_id %>) <% end %> <%= link_to (text.title.blank? ? "[No title]" : text.title), public_text_path(text) %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="back-link"><%= link_to 'Return to Browse All Journals', public_journals_path %></div>
  </div>
</div>