<!-- BEGIN facets -->
<div class="col-lg-3 col-md-3 col-sm-6">
  <div class="facets-container">
    <h3>Filter your search</h3>

    <div class="input-group-lg">
      <div class="panel panel-default filter-panel" id="panel-text_type">
        <div class="panel-heading"><h4><span class="aria-hidden">Filter by </span>Text Type</h4></div>
        <div class="panel-body">
          <p>Select one or more Text Types</p>
          <%# sample repeatable drop downs #%>
          <% if false %>
            <%= select_tag(:text_type, options_for_select(@unique_values["text_type"]), {include_blank: '---', class: 'form-control select_text_type select_field', "data-count": "1"}) %>
            <%= select_tag(:text_type, options_for_select(@unique_values["text_type"]), {include_blank: '---', class: 'form-control select_text_type select_field', "data-count": "2"}) %>
          <% end %>
          <% @unique_values["text_type"].each do |tt| %>
            <div class="filter-checkboxes">
              <%= check_box_tag(tt[1], "", false, {"data-field": tt[1]}) %>
              <%= label_tag(tt[1], tt[0]) %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default filter-panel" id="panel-material_type">
        <div class="panel-heading"><h4><span class="aria-hidden">Filter by </span>Material Type</h4></div>
        <div class="panel-body">
          <p>Select one or more Material Types</p>
          <%# sample repeatable drop downs #%>
          <% if false %>
            <%= select_tag(:material_type, options_for_select(@unique_values["material_type"]), {include_blank: '---', class: 'form-control select_material_type select_field', "data-count": "1"}) %>
            <%= select_tag(:material_type, options_for_select(@unique_values["material_type"]), {include_blank: '---', class: 'form-control select_material_type select_field', "data-count": "2"}) %>
          <% end %>
          <% @unique_values["material_type"].each do |mat| %>
            <div class="filter-checkboxes">
              <%= check_box_tag(mat, "", false, {"data-field": mat}) %>
              <%= label_tag(mat, mat) %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default filter-panel" id="panel-genre">
        <div class="panel-heading"><h4><span class="aria-hidden">Filter by </span>Genre</h4></div>
        <div class="panel-body">
          <p>Select one or more Genres</p>
          <%# sample repeatable drop downs #%>
          <% if false %>
            <%= select_tag(:genre, options_for_select(@unique_values["genre"]), {include_blank: '---', class: 'form-control select_genre select_field', "data-count": "1"}) %>
            <%= select_tag(:genre, options_for_select(@unique_values["genre"]), {include_blank: '---', class: 'form-control select_genre select_field', "data-count": "2"}) %>
          <% end %>
          <% @unique_values["genre"].each do |genre| %>
            <div class="filter-checkboxes">
              <%= check_box_tag(genre, "", false, {"data-field": genre}) %>
              <%= label_tag(genre, genre) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="input-group-lg">
      <div class="panel panel-default filter-panel" id="panel-is_bilingual">
        <div class="panel-heading"><h4><span class="aria-hidden">Filter by </span>Is Bilingual<span class="aria-hidden"> field</span></h4></div>
        <div class="panel-body">
          <div class="filter-checkboxes">
            <input type="checkbox" name="is_bilingual" id="is_bilingual" value="" data-field="true">
            <label for="is_bilingual">Show only bilingual records</label>
          </div>
        </div>
      </div>
    </div>

    <div class="input-group-lg">
      <div class="panel panel-default filter-panel" id="panel-illustrations_noted">
        <div class="panel-heading"><h4><span class="aria-hidden">Filter by </span>Illustrations Noted<span class="aria-hidden"> field</span></h4></div>
        <div class="panel-body">
          <div class="filter-checkboxes">
            <input type="checkbox" name="illustrations_noted" id="illustrations_noted" value="" data-field="true">
            <label for="illustrations_noted">Show only records with noted illustrations</label>
          </div>
        </div>
      </div>
    </div>

    <%= render 'facet_container_dates', facet_name: "publication_dates" %>
  </div>
</div>
<!-- END facets -->

<!-- BEGIN search results -->
<div class="col-lg-9 col-md-9 col-sm-6">
  <% if @new_search %>
    <h3>Enter a search query</h3>
  <% else %>
    <%= render 'search_results_list' %>
  <% end %>
</div>
<!-- END search results -->