<div class="adv-search-row" id="search-row-<%= num %>">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="input-group">
      <% if num > 1 %>
      <div class="input-group-btn boolean">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="The boolean operator for search input field <%= num %>. Default is 'AND'."> AND
          <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-left">
          <li class="selected"><a href="#" data-name="AND">AND</a></li>
          <li><a href="#" data-name="OR">OR</a></li>
          <li><a href="#" data-name="NOT">NOT</a></li>
        </ul>
      </div><!-- /btn-group -->
      <% end %>

      <%# ignore the following #%>
      <% if false %>
      <div class="input-group-lg">
        <%= select_tag(:text_type, options_for_select(@unique_values["text_type"]), {include_blank: 'Select a Text Type', class: 'form-control select_text_type select_field hidden'}) %>
        <%= select_tag(:material_type, options_for_select(@unique_values["material_type"]), {include_blank: 'Select a Material Type', class: 'form-control select_material_type select_field hidden'}) %>
        <%= select_tag(:genre, options_for_select(@unique_values["genre"]), {include_blank: 'Select a Genre', class: 'form-control select_genre select_field hidden'}) %>
      </div>
      <% end %>

      <label for="v_<%= num %>" class="sr-only">Search input field <%= num %></label>
      <input type="text" name="v_<%= num %>" id="v_<%= num %>" class="form-control input-field <% if num == 1 %>left-rounded-corners<% end %>">
      <div class="input-group-btn fields_dropdown field_name">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Select which field will be used with search input field <%= num %>. Default is all fields.">Select
          a field (optional)
          <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="selected"><a href="#" data-name="keyword">All fields</a></li>
          <li role="seperator" class="divider"></li>
          <li><a href="#" data-name="title">Title</a></li>
          <li><a href="#" data-name="author_heading">Author heading</a></li>
          <li><a href="#" data-name="persons_cited">Persons Cited</a></li>
          <li><a href="#" data-name="entry_number">Entry Number</a></li>
          <!--li><a href="#" data-name="text_type" class="controlled">Text Type</a></li-->
          <!--li><a href="#" data-name="material_type" class="controlled">Material Type</a></li-->
          <!--li><a href="#" data-name="genre" class="controlled">Genre</a></li-->
          <li><a href="#" data-name="journal_title">Journal title</a></li>
          <li><a href="#" data-name="volume_title">Volume title</a></li>
          <li><a href="#" data-name="original_greek_title">Original Greek Title</a></li>
          <li><a href="#" data-name="publication_place">Publication Place</a></li>
          <li><a href="#" data-name="publisher">Publisher</a></li>
          <li><a href="#" data-name="series">Series</a></li>
          <li><a href="#" data-name="sponsoring_organization">Sponsoring Organization</a></li>
          <li><a href="#" data-name="isbn">ISBN</a></li>
          <li><a href="#" data-name="issn">ISSN</a></li>
          <li><a href="#" data-name="dai">DAI</a></li>
          <li><a href="#" data-name="authors_name_from_source">Author's name from source</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div>
  </div>
</div>