<% if @aggregations[facet_name].buckets.present? %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= format_label(facet_name) %></div>
    <div class="panel-body">
      <ul class="facet-list-group">
        <% if @facets.key?(facet_name.to_sym) %>
          <div class="facet-label"><%= format_label(@facets[facet_name.to_sym]) %> <%= link_to '&nbsp;<i class="fas fa-times"></i>'.html_safe, reset_facet_path(request.fullpath, facet_name.to_sym), :class =>"facet-control facet-remove", "data-control" => facet_name.to_sym %></div>
          <div class="facet-value"></div>
        <% else %>
          <% @aggregations[facet_name].buckets.each do |facet| %>
            <% if facet["key"].present? %>
              <li class="facet-list-group-item">
                <div class="facet-label"><%= link_to format_label(facet["key"]), update_facet_path(request.fullpath, facet_name, facet["key"]) %></div>
                <div class="facet-value"><%= facet.doc_count %></div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>