<% if @texts.aggregations[facet_name].buckets.present? %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= format_label(facet_name) %></div>
    <div class="panel-body">
      <ul class="facet-list-group">
        <% if @facets[facet_name].present? %>
          <div class="facet-label"><%= format_label(@facets[facet_name]) %> <%= link_to '[X]', @facet_delete_paths[facet_name], :class =>"facet-control facet-remove", "data-control" => facet_name %></div>
          <div class="facet-value"></div>
        <% else %>
          <% @texts.aggregations[facet_name].buckets.each do |facet| %>
            <% if facet["key"].present? %>
              <li class="facet-list-group-item">
                <div class="facet-label"><a href="<%= request.original_url %>&<%= facet_name %>=<%= u facet["key"] %>"><%= format_label(facet["key"]) %></a></div>
                <div class="facet-value"><%= facet.doc_count %></div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>