<script src="/assets/public/bootstrap-slider.js"></script>
<script src="/assets/public/bootstrap.histogram.slider.js"></script>
<link rel="stylesheet" href="/assets/public/histogram.slider.css">
<link rel="stylesheet" href="/assets/public/bootstrap.histogram.slider.css">

<div id="publication_dates_data"
     data='<%= @publication_dates %>'
     data-publication-date-earliest='<%= @publication_date_range_earliest %>'
     data-publication-date-latest='<%= @publication_date_range_latest %>'
     data-new-search='<% if @new_search %>true<% else %>false<% end %>'>
</div>

<script>
    $(document).ready(function() {
        // Grab the data attributes from #publication_dates_data
        // We can assume my_data will be a valid JSON object once converted
        var data_new_search = $("#publication_dates_data").attr("data-new-search") || true;
        var my_data = $("#publication_dates_data").attr("data");
        var earliest_year_param = $("#publication_dates_data").attr("data-publication-date-earliest");
        var latest_year_prarm = $("#publication_dates_data").attr("data-publication-date-latest");

        // Convert value into JSON object
        var my_data_json = [];
        if (my_data && my_data.length >2) {
            my_data_json = JSON.parse(my_data);
        }

        if (my_data_json && my_data_json.length){

            // Our Elasticsearch query will autofill a hardcoded value
            // for text records that lack a publication year value
            var unknown_placeholder_year = 1900;

            // We can safely assume that the publication dates are in numerical order
            // So, the first element in the array is the earliest year and last element is latest year
            var earliest_year_elem = my_data_json[0];
            var latest_year_elem = my_data_json[my_data_json.length - 1];

            if ("value" in earliest_year_elem && "value" in latest_year_elem){
                // Select the date range params if they exist.
                // Else, use the earliest and latest values from the data object
                var earliest_year = parseInt(earliest_year_param) || earliest_year_elem.value;
                var latest_year = parseInt(latest_year_prarm) || latest_year_elem.value;

                // Be sure to add 1 to the range to be inclusive
                var range = (latest_year - earliest_year) + 1;
                var numOfBins = range;

                // Display a small notice when the earliest year matches the unknown_placeholder_year value
                /*if (earliest_year === unknown_placeholder_year) {
                    $(".facet-note").html("Texts without a publication date are listed in this graph as year '1900'");
                }*/

                // The slider expects the data in a specific format
                data = {
                    "items": my_data_json
                };

                $("#histogramSlider").histogramSlider({
                    sliderRange: [earliest_year, latest_year],
                    data: data,
                    selectedRange: [earliest_year, latest_year],
                    showSelectedRange: false,
                    showTooltips: true,
                    numberOfBins: numOfBins,
                    earliestFieldId: 'publication-date-earliest-value',
                    latestFieldId: 'publication-date-latest-value'
                });
            }
        } else if (earliest_year_param && earliest_year_param.length) {
            // there were no records found within these dates.
            // fill in date range fields with params
            $("#publication-date-earliest-value").val(earliest_year_param);
            $("#publication-date-latest-value").val(latest_year_prarm);
            $("#histogramSlider").html('<p>No dates found in this range.</p><p><a href="#" id="date-range-reset">Reset dates</a>.</p>');
        } else {
            if (data_new_search){
                $("#date-range-change-group").hide();
                $("#publication-dates-messages").html("<p>Enter a date range in <code>YYYY</code> format.</p>");
            } else {
                $("#publication-dates-panel .panel-body").html("<p>No dates found</p>");
            }
        }

        function cleanURL(path, param) {
            var regex = RegExp("&?" + param + "=[^&?]*", "ig");
            var cleaned = path.replace(regex, "");

            return cleaned;
        }

        $("#date-range-reset").click(function(e){
            e.preventDefault();

            // remove params from current url
            var clean_page = cleanURL(location.href, "page");
            var clean_date_range = cleanURL(clean_page, "publication_date_range");

            window.location = clean_date_range;
        });

        $("button#date-range-apply").click(function(e){
            e.preventDefault();

            var earliest_field = $("#publication-date-earliest-value").val();
            var latest_field = $("#publication-date-latest-value").val();

            var earliest_field_value = earliest_field || latest_field;
            var latest_field_value = latest_field || earliest_field;

            // remove params from current url
            var clean_page = cleanURL(location.href, "page");
            var clean_date_range = cleanURL(clean_page, "publication_date_range");

            // apply new params
            var date_param_url = clean_date_range + "&publication_date_range=" + earliest_field_value + "-" + latest_field_value;

            window.location = date_param_url;
        });
    });
</script>

<div class="panel panel-default" id="publication-dates-panel">
  <div class="panel-heading"><%= format_label(facet_name) %></div>
  <div class="panel-body">
    <div id="histogramSlider"></div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div id="publication-dates-messages"></div>
        <div class="input-group">
          <!--<%= label_tag(:publication_date_earliest, "Earliest") %> -->
          <%= text_field_tag :publication_date_earliest, params[:publication_date_earliest], :class => 'form-control', :id => 'publication-date-earliest-value' %>
          <span class="input-group-btn">
            <button class=" btn btn-secondary disabled" disabled="disabled">-</button>
          </span>
          <!--<%= label_tag(:publication_date_latest, "Latest") %> -->
          <%= text_field_tag :publication_date_latest, params[:publication_date_latest], :class => 'form-control', :id => 'publication-date-latest-value' %>
          <span class="input-group-btn" id="date-range-change-group">
              <button type="button" class="btn btn-primary" id="date-range-apply">Apply</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" id="date-range-reset">Reset dates</a></li>
              </ul>
          </span>
        </div>
      </div>
    </div>
    <p class="facet-note"></p>
  </div>
</div>
