<div class="facets-container">
  <% if @texts.aggregations.present? %>
    <h3>Limit your search</h3>

    <% if @texts.aggregations.genre.buckets.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">Genre</div>
      <div class="panel-body">
        <ul class="facet-list-group">
          <% if @facets["genre"].present? %>
            <div class="facet-label"><%= format_label(@facets["genre"]) %> <%= link_to '[X]', @facet_delete_paths["genre"], :class =>"facet-control facet-remove", "data-control" => "genre" %></div>
            <div class="facet-value"></div>
          <% else %>
            <% @texts.aggregations.genre.buckets.each do |facet| %>
              <% if facet["key"].present? %>
                <li class="facet-list-group-item">
                  <div class="facet-label"><a href="<%= request.original_url %>&genre=<%= facet["key"] %>"><%= format_label(facet["key"]) %></a></div>
                  <div class="facet-value"><%= facet.doc_count %></div>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>

    <% if @texts.aggregations.material_type.buckets.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">Material type</div>
      <div class="panel-body">
        <ul class="facet-list-group">
          <% if @facets["material_type"].present? %>
            <div class="facet-label"><%= format_label(@facets["material_type"]) %> <%= link_to '[X]', @facet_delete_paths["material_type"], :class =>"facet-control facet-remove", "data-control" => "material_type" %></div>
            <div class="facet-value"></div>
          <% else %>
            <% @texts.aggregations.material_type.buckets.each do |facet| %>
              <% if facet["key"].present? %>
                <li class="facet-list-group-item">
                  <div class="facet-label"><a href="<%= request.original_url %>&material_type=<%= facet["key"] %>"><%= format_label(facet["key"]) %></a></div>
                  <div class="facet-value"><%= facet.doc_count %></div>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>

    <% if @texts.aggregations.text_type.buckets.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">Text type</div>
      <div class="panel-body">
        <ul class="facet-list-group">
          <% if @facets["text_type"].present? %>
            <div class="facet-label"><%= format_label(@facets["text_type"]) %> <%= link_to '[X]', @facet_delete_paths["text_type"], :class =>"facet-control facet-remove", "data-control" => "text_type" %></div>
            <div class="facet-value"></div>
          <% else %>
            <% @texts.aggregations.text_type.buckets.each do |facet| %>
              <% if facet["key"].present? %>
                <li class="facet-list-group-item">
                  <div class="facet-label"><a href="<%= request.original_url %>&text_type=<%= facet["key"] %>"><%= format_label(facet["key"]) %></a></div>
                  <div class="facet-value"><%= facet.doc_count %></div>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>

    <% if @texts.aggregations.topic_author.buckets.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">Topic author</div>
      <div class="panel-body">
        <ul class="facet-list-group">
          <% if @facets["topic_author"].present? %>
            <div class="facet-label"><%= format_label(@facets["topic_author"]) %> <%= link_to '[X]', @facet_delete_paths["topic_author"], :class =>"facet-control facet-remove", "data-control" => "topic_author" %></div>
            <div class="facet-value"></div>
          <% else %>
            <% @texts.aggregations.topic_author.buckets.each do |facet| %>
              <% if facet["key"].present? %>
                <li class="facet-list-group-item">
                  <div class="facet-label"><a href="<%= request.original_url %>&topic_author=<%= facet["key"] %>"><%= format_label(facet["key"]) %></a></div>
                  <div class="facet-value"><%= facet.doc_count %></div>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>

    <% if @texts.aggregations.publication_places.buckets.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">Publication Places</div>
      <div class="panel-body">
        <ul class="facet-list-group">
          <% if @facets["publication_places"].present? %>
            <div class="facet-label"><%= format_label(@facets["publication_places"]) %> <%= link_to '[X]', @facet_delete_paths["publication_places"], :class =>"facet-control facet-remove", "data-control" => "publication_places" %></div>
            <div class="facet-value"></div>
          <% else %>
            <% @texts.aggregations.publication_places.buckets.each do |facet| %>
              <% if facet["key"].present? %>
                <li class="facet-list-group-item">
                  <a href="<%= request.original_url %>&publication_places=<%= facet["key"] %>"><div class="facet-label"><%= format_label(facet["key"]) %></div></a>
                  <div class="facet-value"><%= facet.doc_count %></div>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>

    <% if @texts.aggregations.other_text_languages.buckets.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">Other languages</div>
      <div class="panel-body">
        <ul class="facet-list-group">
          <% if @facets["other_text_languages"].present? %>
            <div class="facet-label"><%= format_label(@facets["other_text_languages"]) %> <%= link_to '[X]', @facet_delete_paths["other_text_languages"], :class =>"facet-control facet-remove", "data-control" => "other_text_languages" %></div>
            <div class="facet-value"></div>
          <% else %>
            <% @texts.aggregations.other_text_languages.buckets.each do |facet| %>
              <% if facet["key"].present? %>
                <li class="facet-list-group-item">
                  <a href="<%= request.original_url %>&other_text_languages=<%= facet["key"] %>"><div class="facet-label"><%= format_label(facet["key"]) %></div></a>
                  <div class="facet-value"><%= facet.doc_count %></div>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>

  <% end %>
</div> <!-- facets container -->