<h2>Keyword Search</h2>
<p>Try the <%= link_to 'Advanced search', public_search_index_path(:type => "adv") %></p>

<%= form_tag(public_search_index_path, method: :get, id: "search_form") do %>
  <%= hidden_field_tag :type, @search_type %>

  <div class="row">
    <div class="col-lg-8 col-md-9 col-sm-12">
      <%= label_tag(:keyword, "Keyword") %>
      <div class="input-group">
        <%= text_field_tag :keyword, params[:keyword], :class => 'form-control input-lg' %>
        <span class="input-group-btn">
          <%= submit_tag 'Search', name: nil, :class => 'btn btn-primary btn-lg' %>
        </span>
      </div>
    </div>

    <div class="keyword-search-submit col-lg-12 col-md-12 col-sm-12">
      <div class="constraints-container">
        <%= link_to 'Start over', public_search_index_path, :class => 'btn btn-default', style: 'display: inline-block' %>
        <%= render 'facet_constraints' %>
      </div>
    </div> <!-- facets constraints container -->
  </div>

<% end %>