<h2>Keyword Search</h2>
<div class="search-chooser">
  <div class="search-chooser">Try the <%= link_to 'Advanced search', public_search_index_path(:type => "adv") %></div>
  <div class="search-history"><%= link_to 'Search history', public_recent_searches_path %></div>
</div>

<!--pre><%= @all_search.to_json %></pre-->
<%= form_tag(public_search_index_path, method: :get, id: "search_form") do %>
  <%= hidden_field_tag :type, @search_type %>

  <div class="row">
    <div class="col-lg-8 col-md-9 col-sm-12">
      <%= label_tag(:keyword, "Keyword") %>
      <div class="input-group">
        <%= text_field_tag :keyword, params[:keyword], :class => 'form-control input-lg' %>
        <% if params[:sort] %>
          <%= hidden_field_tag 'sort', params[:sort] %>
        <% end %>
        <span class="input-group-btn">
          <%= submit_tag 'Search', name: nil, :class => 'btn btn-success btn-lg' %>
        </span>
      </div>
    </div>

    <div class="keyword-search-submit col-lg-12 col-md-12 col-sm-12">
      <div class="constraints-container">
        <%= render 'facet_constraints' %>
      </div>
    </div> <!-- facets constraints container -->
  </div>

<% end %>