<div class="results-list">
  <h3><%= page_entries_info @texts, entry_name: 'records' %></h3>

  <% if @texts.size > 0 %>
    <div class="row">
      <div class="col-md-7">
        <%= paginate @texts %>
      </div>
      <div class="col-md-5 sort_box">
        <label for="select_sort_order">sort</label>
        <%= select_tag 'select_sort_order', options_for_select(@sort_options, params[:sort]) %>
      </div>
    </div>
  <% end %>

  <% @texts.each do |text| %>
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to (text.title.blank? ? "[No title]" : @results_formatter.format(text.title)), public_text_path(text.id) %>
        <ul>
          <li>Census ID: <%= text.census_id %></li>
          <li>Topic author: <%= text.topic_author.full_name %></li>
          <% if text['_source'].volume %>
            <li>In <cite><%= link_to_volume_from_search text['_source'].volume %></cite></li>
          <% end %>
          <% if text['_source'].journal %>
            <li>In <cite><%= link_to_journal_from_search text['_source'].journal %></cite></li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% end %>

  <%= paginate @texts %>
</div>