<div class="results-list">
  <h3><%= page_entries_info @texts, entry_name: 'records' %></h3>

  <% if @texts.size > 0 %>
    <div class="row">
      <div class="col-md-7">
        <%= paginate @texts %>
      </div>
      <div class="col-md-5 sort_box">
        <label for="select_sort_order">sort</label>
        <%= select_tag 'select_sort_order', options_for_select(@sort_options, params[:sort]) %>
      </div>
    </div>
  <% end %>

  <ul class="list-group">
    <% @texts.each do |text| %>
      <li class="list-group-item">
        <%= render 'text_tombstone', text: text %>
      </li>
    <% end %>
  </ul>

  <%= paginate @texts %>
</div>