<% page_title('Browse people') %>
<h3 class="browse-people__header">Browse all people</h3>
<div class="row">
  <div class="browse-people__description col-md-10">
    All names indexed with active roles in the publications.
  </div>
</div>
<div class="row">
<%# Letters at top of page for navigating %>
  <div class="col-md-8">
    <%= render 'public/controlled_name/controlled_name_letter_list' %>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="browse-people__pagination--top pagination-stuff col-md-10">
        <%= paginate @names %>
      </div>
    </div>
    <ul class="list-group">
      <% @names.each do |name| %>
        <li class="list-group-item browse-people__entry">
          <div class="browse-people__linked-header">
            <span class="browse-people__full_name"><%= link_to name.controlled_name, public_controlled_name_path(name) %></span>
            <span class="browse-people__texts-count">(<%= person_text_count(name) %>)</span>
          </div>
          <% if name.topic_flag %>
            <div class="browse-people__link-to-topic-author">
              <a href="/public/authors/<%= name.person_link %>">See also author record</a>
            </div>
          <% end %>
          <div class="browse-people__roles">
            <%= name.roles.sort!.join(', ') %>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="row">
      <div class="browse-people__pagination--bottom pagination-stuff col-md-10">
        <%= paginate @names %>
      </div>
    </div>
  </div>
</div>