<div class='nested-fields citaiton-fields'>
  <%= link_to_remove_association "x", f, {:class => 'remove-link'} %>
  <%= f.input :name, as: :string %>
  <%= f.input :last_name, as: :string %>
  <%= f.input :first_name, as: :string %>
  <%= f.label :role %>
  <%= f.select(:role, [['author', 'author'], ['translator', 'translator'],
                       ['editor', 'editor'], ['illustrator', 'illustrator'],
                       ['intro/front matter author', 'intro/front matter author'], ['back matter author', 'back matter author']],
               {}, :onChange => 'showForTranslator(this)') %>
</div>