<%= form_with(model: text, local: true) do |form| %>
    <% if text.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(text.errors.count, "error") %> prohibited this text from being saved:</h2>

          <ul>
            <% text.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :text_title %>
    </div>

    <div class="field">
      <%= form.label :greek_title %>
      <%= form.text_field :greek_title, id: :text_greek_title %>
    </div>

    <div class="field">
      <%= form.label :pages %>
      <%= form.text_field :pages, id: :text_publisher %>
    </div>

    <div class="field">
      <%= form.label :publisher %>
      <%= form.text_field :publisher, id: :text_publisher %>
    </div>

    <div class="field">
      <%= form.label :date %>
      <%= form.text_field :date, id: :text_date %>
    </div>

    <div class="field">
      <%= form.label :location %>
      <%= form.text_field :location, id: :text_location %>
    </div>

    <div class="field">
      <%= form.label :language_id %>
      <%= form.text_field :language_id, id: :text_language %>
    </div>

    <div class="field">
      <%= form.label :citations %>
      <div class="citations" style="float: left; width: 20em">
        <button id="add-citation">Add</button>
      </div>
    </div>

    <div class="field" style="clear: both">
      <%= form.label :note %>
      <%= form.text_area :note, id: :text_note %>
    </div>

    <div class="actions">
      <%= form.button :type => :submit %>
    </div>

<% end %>

<script id="new-citation-template" type="text/x-handlebars-template">
  <div class="field">
    <%= text_field_tag "text_citations[]" %> <a href="#" onclick="removeChoice($(this))" class="remove-choice"> X </a>
  </div>
</script>

<script>
    var source = $("#new-citation-template").html();
    var template = Handlebars.compile(source);
    $("#add-citation").click(function () {
        $('.citations').append(template());
        return false;
    });

    function removeChoice(element) {
        element.parent().remove();
    }
</script>