<%= simple_form_for @text do |f| %>
    <%= f.input :title, as: :string %>
    <%= f.input :date, as: :string %>
    <%= f.input :publisher, as: :string %>
    <%= f.input :location, as: :string %>
    <%= f.input :pages, as: :string %>

    <h2>From</h2>
    <%= f.input :parent_title, label: 'Title' %>
    <%= f.input :parent_issue, label: 'Issue' %>

    <h2>Citations</h2>
    <div id='citations'>
      <%= f.simple_fields_for :text_citations do |citation| %>
          <%= render 'text_citation_fields', :f => citation %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add citation', f, :text_citations %>
      </div>
    </div>

    <h2>ISBNs</h2>
    <div id='isbns'>
      <%= f.simple_fields_for :standard_numbers do |number| %>
          <%= render 'standard_number_fields', :f => number %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add ISBN', f, :standard_numbers %>
      </div>
    </div>

    <h2>Components</h2>
    <div id='components'>
      <%= f.simple_fields_for :components do |component| %>
          <%= render 'component_fields', :f => component %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add component', f, :components %>
      </div>
    </div>

    <%= f.input :note %>


    <%= f.button :submit %>
<% end %>