<%= simple_form_for @text do |f| %>
    <%= f.association :topic_author, :collection => @topic_authors %>
    <%= f.input :title, as: :string %>
    <%= f.association :section %>
    <%= f.input :text_type, :collection => [['(a) translation book', 'translation_book'], ['(b) translation part', 'translation_part'], ['(c) study book', 'study_book'], ['(d) study part', 'study_part']] %>
    <%= f.input :date, as: :string %>
    <%= f.input :series, as: :string %>
    <%= f.input :publisher, as: :string %>
    <%= f.input :journal_title, as: :string %>
    <%= f.input :place_of_publication, as: :string %>
    <%= f.input :page_count, as: :string %>
    <%= f.input :page_span, as: :string %>
    <%= f.input :genre, as: :string %>


    <h2>From</h2>
    <%= f.input :parent_title, label: 'Title' %>
    <%= f.input :parent_issue, label: 'Issue' %>

    <h2>Citations</h2>
    <div id='citations'>
      <%= f.simple_fields_for :text_citations do |citation| %>
          <%= render 'text_citation_fields', :f => citation %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add citation', f, :text_citations %>
      </div>
    </div>

    <h2>ISBNs</h2>
    <div id='isbns'>
      <%= f.simple_fields_for :standard_numbers do |number| %>
          <%= render 'standard_number_fields', :f => number %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add ISBN', f, :standard_numbers %>
      </div>
    </div>

    <h2>Components</h2>
    <div id='components'>
      <%= f.simple_fields_for :components do |component| %>
          <%= render 'component_fields', :f => component %>
      <% end %>
    </div>
    <div class='links'>
      <%= link_to_add_association 'add component', f, :components, :class => 'row', :data => {'association-insertion-node' => '#components', 'association-insertion-method' => 'append'} %>
    </div>

    <%= f.input :note %>

    <h2>Original Greek text</h2>
    <%= f.input :source %>
    <%= f.input :original_greek_title %>
    <%= f.input :original_greek_place_of_publication %>
    <%= f.input :original_greek_publisher %>
    <%= f.input :original_greek_date %>
    <%= f.input :original_greek_isbn %>


    <h2>Other languages in text</h2>

    <%= f.association :intermediary_language %>

    <%= f.input :is_bilingual, label: 'Text is bilingual?' %>

    <div id='other_text_languages'>
      <%= f.simple_fields_for :other_text_languages do |language| %>
          <%= render 'other_text_language_fields', :f => language %>
      <% end %>
    </div>
    <div class='links'>
      <%= link_to_add_association 'add language', f, :other_text_languages, :class => 'row', :data => {'association-insertion-node' => '#other_text_languages', 'association-insertion-method' => 'append'} %>
    </div>

    <%= f.button :submit %>
<% end %>