<dl class="metadata">
  <dt>Title</dt>
  <dd><%= convert_underscores(@text.title) %></dd>

  <% if @text.text_type == 'study_book' || @text.text_type == 'study_part' %>
    <%= metadata_row "Subject's name as appears in text", @text.authors_name_from_source %>
  <% end %>

  <% if @text.text_type == 'translation_book' || @text.text_type == 'translation_part' %>
    <% if @text.authors && @text.authors.count > 1 %>
      <dt><%= "Author".pluralize(@text.authors.count) %></dt>
      <% @text.authors.each do |citation| %>
        <dd><%= controlled_name_link citation %></dd>
      <% end %>
    <% elsif @text.authors && @text.authors.count == 1 %>
      <dt>Author</dt>
      <% @text.authors.each do |citation| %>
        <dd><%= @text.authors_name_from_source %>
          <% if @text.authors_name_from_source != citation.name %>
            (<%= controlled_name_link citation %>)
          <% end %>
        </dd>
      <% end %>
    <% end %>
  <% else %>
    <% if @text.authors && @text.authors.count > 1 %>
      <dt><%= "Author".pluralize(@text.authors.count) %></dt>
      <% @text.authors.each do |citation| %>
        <dd><%= controlled_name_link citation %></dd>
      <% end %>
    <% elsif @text.authors && @text.authors.count == 1 %>
      <dt>Author</dt>
      <% @text.authors.each do |citation| %>
        <dd><%= controlled_name_link citation %></dd>
      <% end %>
    <% end %>
  <% end %>

  <%= metadata_row "Translator".pluralize(@text.translators.count),
                   @text.translators,
                   value_prep_function: :controlled_name_link %>

  <%= metadata_row "Editor".pluralize(@text.editors.count),
                   @text.editors,
                   value_prep_function: :controlled_name_link %>

  <%= metadata_row "Performer".pluralize(@text.performers.count),
                   @text.performers,
                   value_prep_function: :controlled_name_link %>

  <%= metadata_row "Other contributor".pluralize(@text.other_contributors.count),
                   @text.other_contributors,
                   value_prep_function: :controlled_name_link %>


  <% if @text.journal && @text.journal.title != '' %>
    <dt>In</dt>
    <dd>
        <span class="journal-title">
          <%= link_to (@text.journal.title.blank? ? "[No title]" : convert_underscores(@text.journal.title)), journal_path(@text.journal) %>
      </span>
      <%= formatted_full_journal_issue_citation @text %>
    </dd>
    <%= metadata_row 'Page span', @text.page_span.sub('pp. ', '') %>
  <% elsif @text.volume && @text.volume.title != '' %>
    <dt>In</dt>
    <dd>
          <span class="journal-title">
          <%= link_to (@text.volume.title.blank? ? "[No title]" : convert_underscores(@text.volume.title)), volume_path(@text.volume) %>
        </span>
      <%= formatted_full_journal_issue_citation @text %>
    </dd>
    <%= metadata_row 'Page span', @text.page_span.sub('pp. ', '') %>
  <% else %>
    <%= metadata_row 'Page count', @text.page_span.sub('pp. ', '') %>
  <% end %>

  <%= metadata_row 'Title of issue', @text.issue_title %>

  <% unless @text.urls.empty? %>
    <dt><%= "URL".pluralize(@text.urls.count) %></dt>
    <% @text.urls.each do |url| %>
      <dd>
        <a href="<%= url.url_with_protocol %>" target="_blank" rel="noopener" class="url-link"><%= url.value %>
          <i class="fas fa-external-link-alt"></i></a>
        <% if url.accessed_on %>
          <div class="last-accessed-note">Last accessed <%= url.accessed_on.strftime('%B %d, %Y') %></div>
        <% end %>
        <% if url.value.include? 'youtube' %>
          <%= render 'youtube_embed', url: url %>
        <% end %>
      </dd>
    <% end %>
  <% end %>

  <%= metadata_row 'Genre', @text.genre %>

  <%= metadata_row 'Material type', @text.material_type %>

  <% if @text.publication_places && @text.publication_places.count > 0 %>
    <dt><%= "Place".pluralize(@text.publication_places.count) %>  of publication</dt>
    <% @text.publication_places.each do |pub_place| %>
      <dd><%= pub_place.place.name %></dd>
    <% end %>
  <% elsif @text.journal && @text.journal.place %>
    <dt>Place of publication</dt>
    <dd><%= @text.journal.place.name %></dd>
  <% end %>

  <%= metadata_row 'Publisher', @text.publisher %>

  <%= metadata_row 'Date of publication', @text.date %>

  <%= metadata_row 'Series', @text.series %>

  <%= metadata_row 'Sponsoring organiztion', @text.series %>

  <%= metadata_row 'Editorial note', convert_underscores(@text.editorial_annotation) %>

  <%= metadata_row 'Physical description', convert_underscores(@text.physical_description) %>

  <%= metadata_row 'Other note', @text.note %>

  <%= metadata_row 'Text is bilingual?', @text.is_bilingual_display %>

  <%= metadata_row 'Illustrations noted?', 'Yes', boolean_filter: @text.illustrations_noted %>

  <%= metadata_row 'ISBN'.pluralize(@text.isbns.count), @text.isbns, value_attribute: :value %>

  <%= metadata_row 'Source', @text.special_source_of_info %>

  <%= metadata_row 'Entry Number', @text.census_id %>

  <% unless @text.cross_references.empty? %>
    <dt>References entries</dt>
    <% @text.cross_references.each do |reference| %>
      <dd><%= crossreference_link(reference.census_id) %></dd>
    <% end %>
  <% end %>
</dl>

<% if @text.has_greek_publication_info %>
  <%= render 'greek_publication_information' %>
<% end %>