<dl class="component">

  <%= metadata_row 'Title', convert_underscores(component.title) %>

  <%= metadata_row 'Greek source title', convert_underscores(component.greek_source_title) %>

  <%= metadata_row 'Pages', component.pages %>

  <%= metadata_row 'Author'.pluralize(component.authors.length),
                   controlled_name_link_list(component.authors).html_safe %>

  <%= metadata_row 'Translator'.pluralize(component.translators.length),
                   controlled_name_link_list(component.translators).html_safe %>

  <%= metadata_row 'Genre', component.genre %>

  <%= metadata_row 'Note', convert_underscores(component.note) %>

  <%= metadata_row 'Bilingual?', 'Yes', boolean_filter: component.is_bilingual? %>

  <div style="clear: both;"></div>
</dl>
<hr>