<h1>Edit</h1>

<div class="next-prev-links">
  <%= link_to("< previous", [:edit, @text.next], {:class => "previous"}) if @text.next %>
  <%= link_to("next >", [:edit, @text.next], {:class => "next"}) if @text.next %>
</div>

<div class="edit-form">
  <%= render 'form', text: @text %>
</div>


<div class="original">
  <div class="topic-author">
    <%= @text.topic_author.full_name %>
  </div>
  <%= markdown(@text.original) %>
</div>
