<h1>Texts</h1>

<%= paginate @texts %>

<% texts_by_author(@texts).each do |author| %>
    <h3><%= author[:author] %></h3>
    <ul>
      <% author[:texts].each do |text| %>
          <li class="<%= text.status.code %>">
            <span class="census-id"><%= text.census_id %></span>
            <%= link_to text.title, edit_text_path(text) %>
            <span class="status"><%= text.status.name %></span>
          </li>
      <% end %>
    </ul>
<% end %>

<%= paginate @texts %>


<%= link_to 'New Text', new_text_path %>
