<% page_title('Browse texts') %>
<div class="browse-all-texts">
  <%= render 'search/keyword_search_form' %>

  <h2>Browse all Texts</h2>

  <div class="row">
    <div class="browse-texts__description  browse-page__description col-md-10">
      All the Greek creative authors with the translations and studies identified under each author heading.
    </div>
  </div>

  <div class="row">
    <div class="pagination-stuff col-md-10">
      <%= paginate @texts %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="search-results">
      <% texts_by_author(@texts).each do |author| %>
        <h3><%= render 'shared/topic_author', text: author[:texts][0] %></h3>
        <ul class="list-group">
          <% author[:texts].each do |text| %>
            <li class="list-group-item">
              <%= render 'shared/text_tombstone', text: text %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <%= paginate @texts %>
    </div>
  </div>
</div>