<% page_title("#{@text.title.gsub('_', '')} by #{@text.authors_names}") %>
<div class="container public-show-text">
  <div class="row">
    <% if params[:from_search] == 'true' %>
      <a class="back-link" href="javascript:history.back();">◀ Result list</a>
    <% else %>
      &nbsp;
    <% end %>
  </div>
  <div class="row">
    <div class="text-heading">
      <% if @text.topic_author %>
        <h2>
          <a href="/authors/<%= @text.topic_author.id %>"><%= render "shared/topic_author", text: @text %></a>
        </h2>
      <% end %>
      <h3>
        <% unless @text.census_id.blank? %>
          <span class="census-id"><%= @text.census_id %></span>
        <% end %>
        <%= convert_underscores @text.title %></h3>
      <div class="text-type"><%= @text.display_text_type %></div>
    </div>
  </div>
  <div class="row">
    <div class="metadata-div">
      <%= render 'metadata', text: @text %>
    </div>
    <div class="controls">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
            <li>
              <span class="original-launcher" type="button" data-toggle="modal" data-target="#myModal">
                Original
              </span>
            </li>
            <li>Export</li>
            <li>Cite</li>
            <% if user_signed_in? && current_user.user_type != 'viewer' %>
              <%= link_to 'Edit', "/texts/#{@text.id}" %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Original record</h4>
        </div>
        <div class="modal-body">
          <%= render 'original_box' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% if @text.components && @text.components.count > 0 %>
      <%= render 'components', text: @text %>
    <% end %>
  </div>
</div>

<script>
    $().markSearchResult();
</script>