<!DOCTYPE html>
<html>
<head>
  <title>
    <%= if content_for?(:title) then
          yield(:title) + ' | '
        end %>
    Census of Modern Greek Literature
  </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag '/tinymce/js/tinymce/tinymce.min.js' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Source+Sans+Pro:300,400,400i,600,700&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
</head>

<body class="<%= body_class() %> <%= controller_name %> <%= action_name %>">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if in_current_path? 'text' %>">
          <a href="<%= admin_texts_path %>">Texts <span class="sr-only">(current)</span></a></li>
        <li class="<%= 'active' if in_current_path? 'author' %>">
          <a href="<%= admin_people_path %>">Authors <span class="sr-only">(current)</span></a></li>
        <li class="<%= 'active' if in_current_path? 'place' %>">
          <a href="<%= admin_places_path %>">Places <span class="sr-only">(current)</span></a></li>
        <li class="<%= 'active' if in_current_path? 'volume' %>">
          <a href="<%= admin_volumes_path %>">Volumes<span class="sr-only">(current)</span></a></li>
        <li class="<%= 'active' if in_current_path? 'journal' %>">
          <a href="<%= admin_journals_path %>">Journals<span class="sr-only">(current)</span></a></li>
        <li class="<%= 'active' if in_current_path? 'changes' %>">
          <a href="<%= admin_versions_path %>">All edits<span class="sr-only">(current)</span></a></li>
        <li class="<%= 'active' if in_current_path? 'comments' %>">
          <a href="<%= admin_comments_path %>">All comments<span class="sr-only">(current)</span></a></li>
        <li class="<%= 'active' if in_current_path? 'reports' %>">
          <a href="/reports" target="_blank">Reports<span class="sr-only">(current)</span></a></li>
      </ul>
      <p class="navbar-text navbar-right">
        <% if user_signed_in? %>
          <%= current_user.email %>
          <%= link_to('logout', destroy_user_session_path, method: :delete, :class => 'logout-link navbar-link') %>

        <% end %>
      </p>
    </div>
  </div>
</nav>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<% if user_signed_in? %>
  <li>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path) %>
  </li>
<% end %>
<main class="container">
  <%= yield %>
</main>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" />
</body>
</html>
