<!DOCTYPE html>
<html>
<head>
  <title><%= if content_for?(:title) then
               yield(:title) + ' | '
             end %>
    Census of Modern Greek Literature
  </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if in_current_path? 'public' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Source+Sans+Pro:300,400,400i,600,600i,700&amp;subset=greek,greek-ext" rel="stylesheet">
  <% else %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Source+Sans+Pro:300,400,400i,600,700&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">
  <% end %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <%= favicon_link_tag asset_path('census-favicon.png') %>
</head>

<body class="<%= body_class() %> <%= controller_name %> <%= action_name %>">
<a class="skip" href="#main" data-turbolinks="false">Skip to main content</a>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <%= link_to image_tag('census-logo.png'), root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if in_current_path? 'texts' %>"><%= link_to 'Texts', texts_path %></li>
        <li class="<%= 'active' if in_current_path? 'authors' %>"><%= link_to 'Authors', authors_path %></li>
        <li class="<%= 'active' if in_current_path? 'people' %>"><%= link_to 'People', controlled_name_index_path %></li>
        <li class="<%= 'active' if in_current_path? 'volumes' %>"><%= link_to 'Volumes', volumes_path %></li>
        <li class="<%= 'active' if in_current_path? 'journals' %>"><%= link_to 'Journals', journals_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            About
            <span class="caret"/>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/about">About the CENSUS</a></li>
            <li><a href="/project-team">Project Team</a></li>
            <li><a href="/links">Links</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Help
            <span class="caret"/>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/help/browsing-and-searching">Browsing and searching</a></li>
            <li><a href="/help/transliteration">Transliteration</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div id="jumbotron"><%= yield(:jumbotron) %></div>

<main class="container" id="main">
  <%= yield %>
</main>

<footer class="container">
  <div class="row">
    <div class="copyright-notice col-md-6 col-md-offset-3">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/></a>
      <div class="cc-license-text">This work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
          Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
      </div>
    </div>
  </div>
</footer>

<% if cookies[:allow_cookies].blank? %>
  <%= render 'shared/cookie_bar' %>
<% end %>

<script>
</script>

</body>
</html>
