<!DOCTYPE html>
<html>
<head>
  <title><%= if content_for?(:title) then
               yield(:title) + ' | '
             end %>
    Census of Modern Greek Literature
  </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if in_current_path? 'public' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Source+Sans+Pro:300,400,400i,600,600i,700&amp;subset=greek,greek-ext" rel="stylesheet">
  <% else %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Source+Sans+Pro:300,400,400i,600,700&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">
  <% end %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>

<body class="<%= body_class() %>">
<a class="skip" href="#main" data-turbolinks="false">Skip to main content</a>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <%= link_to 'Home', public_search_index_path, :class => "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if in_current_path? 'public/texts' %>"><%= link_to 'Texts', public_texts_path %></li>
        <li class="<%= 'active' if in_current_path? 'public/authors' %>"><%= link_to 'Authors', public_authors_path %></li>
        <li class="<%= 'active' if in_current_path? 'public/people' %>"><%= link_to 'People', public_controlled_name_index_path %></li>
        <li class="<%= 'active' if in_current_path? 'public/volumes' %>"><%= link_to 'Volumes', public_volumes_path %></li>
        <li class="<%= 'active' if in_current_path? 'public/journals' %>"><%= link_to 'Journals', public_journals_path %></li>
        <li class="<%= 'active' if in_current_path? 'public/search' %>"><%= link_to 'Search', public_search_index_path %></li>
      </ul>
    </div>
  </div>
</nav>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<main class="container" id="main">
  <%= yield %>
</main>

<% if cookies[:allow_cookies].blank? %>
  <%= render 'shared/cookie_bar' %>
<% end %>

<script>
  class CookieBar {
  constructor() {
    this.cookiesBar = document.getElementById('cookies-bar');
  }

  init() {
    if (this.cookiesAllowed()) {
      this.appendGACode();
    }

    this.addButtonBehaviors();
  }

  cookiesAllowed() {
    return Cookies.get('allow_cookies') === 'yes';
  }

  addButtonBehaviors() {
    if (!this.cookiesBar) {
      return;
    }

    this.cookiesBar.querySelector('.accept').addEventListener('click', () => this.allowCookies(true));

    this.cookiesBar.querySelector('.reject').addEventListener('click', () => this.allowCookies(false));
  }

  appendGACode() {
    const ga = "(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){" +
      "(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o)," +
      "m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)" +
      "})(window,document,'script','//www.google-analytics.com/analytics.js','ga');" +
      "ga('create', 'UA-XXXXX-Y', 'auto');" + "ga('send', 'pageview');";

    document.getElementsByTagName('head')[0].append('<script>' + ga + '<\/script>');
  }

  allowCookies(allow) {
    if (allow) {
      Cookies.set('allow_cookies', 'yes', {
        expires: 365
      });

      this.appendGACode();
    } else {
      Cookies.set('allow_cookies', 'no', {
        expires: 365
      });
    }

    this.cookiesBar.classList.add('hidden');
  }
}

window.onload = function() {
  const cookieBar = new CookieBar();
  cookieBar.init();
}
</script>

</body>
</html>
