<!DOCTYPE html>
<html>
<head>
  <title><%= if content_for?(:title) then
               yield(:title) + ' | '
             end %>
    Census of Modern Greek Literature
  </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if in_current_path? 'public' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Source+Sans+Pro:300,400,400i,600,600i,700&amp;subset=greek,greek-ext" rel="stylesheet">
  <% else %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Source+Sans+Pro:300,400,400i,600,700&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">
  <% end %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
</head>

<body class="<%= body_class() %>">
<a class="skip" href="#main" data-turbolinks="false">Skip to main content</a>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <%= link_to 'Home', public_search_index_path, :class => "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if in_current_path? 'public/texts' %>"><%= link_to 'Texts', public_texts_path %></li>
        <li class="<%= 'active' if in_current_path? 'public/authors' %>"><%= link_to 'Authors', public_authors_path %></li>
        <li class="<%= 'active' if in_current_path? 'public/people' %>"><%= link_to 'People', public_controlled_name_index_path %></li>
        <li class="<%= 'active' if in_current_path? 'public/volumes' %>"><%= link_to 'Volumes', public_volumes_path %></li>
        <li class="<%= 'active' if in_current_path? 'public/journals' %>"><%= link_to 'Journals', public_journals_path %></li>
        <li class="<%= 'active' if in_current_path? 'public/search' %>"><%= link_to 'Search', public_search_index_path %></li>
      </ul>
    </div>
  </div>
</nav>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<main class="container" id="main">
  <%= yield %>
</main>
</body>
</html>
